body { 
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #000; 
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.flex { 
  display: flex;
  justify-content: center;
}
h2 { 
  text-align: center;
  color: #FFFFFF; 
  user-select: text;
}
img {
  width: 20px;
  height: 20px;
}
.round-button {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #AAAAAA;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  position: relative;
  margin-right: 0.5rem;
  cursor: pointer;
}    
.duration {
  position: relative;
  width: 33%;
  height: 15px;
  background: #62626274;
  cursor: pointer;
  transition: all 0.2s;
}
.duration .buffer {
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #ff6a0045;
  z-index: 9;
  width: 0;
}
.hover-time {
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ffffff9a;
  z-index: 99;
  display: flex;
  align-items: center;
  width: 0;
}
.hover-time .hover-duration {
  position: absolute;
  right: calc((-25px / 2));
  top: -26px;
  background: #555555;
  color: #FFFFFF;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 0.7rem;
  visibility: hidden;
  font-weight: bold;
  opacity: 0;
  transform: scale(0);
}
.duration:hover .hover-time .hover-duration {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
  transform: scale(1);
}
.duration .current-time {
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ff6a00;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 0;
}
.current-time::before {
  content: "";
  position: absolute;
  right: calc((-25px / 2));
  background: #ff6a00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all 0.2s;
  visibility: hidden;
  transform: scale(0);
}
.duration:hover .current-time::before {
  visibility: visible;
  transform: scale(1);
}
.volume {
  display: flex;
  align-items: center;
}
.time-container {
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  color: #EEEEEE;
}
.max-vol {
  height: 3px;
  cursor: pointer;
  background: #ffffff6e;
  transition: all 0.1s;
  width: 0;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  display: flex;
  align-items: center;
  margin-right: 0.33rem;
}
.max-vol.show {
  width: 56px;
  visibility: visible;
  transform: scaleX(1);
  margin-right: 1.25rem;
}
.current-vol {
  position: absolute;
  inset: 0;
  width: 20%;
  height: 100%;
  background: #fff;
  display: flex;
  transition: none;
  align-items: center;
}
.current-vol::before {
  content: "";
  position: absolute;
  right: -5px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #eee;
}
.setting-menu {
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  margin-top: -26vh;
  margin-left: -10.5rem;
  transition: all 0.2s;
  background: rgba(50, 50, 50, 1);
  border-radius: 5px;
}
.setting-menu li {
  padding: 0.3rem 2rem;
  margin: 0.5rem;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}
.speed-active {
  background: rgb(23, 23, 23);
}
.setting-menu li:hover {
  background: rgb(31, 31, 31);
}
.show-setting-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
button:focus { outline: none; }

.sh_pause { display: none; }
.sh_play { display: none; }
.sh_mute { display: none; }
.sh_fulla { display: none; }
.sh_meda { display: none; }
.sh_lowa { display: none; }
.sh_noa { display: none; }

@media only screen and (max-width: 1200px) {
.duration { width: 50%; }
}
@media only screen and (max-width: 960px) {
.duration { width: 67%; }
}
@media only screen and (max-width: 600px) {
.duration { width: 85%; }
}
@media only screen and (max-width: 500px) {
.volume { display: none; }
.setting-menu { margin-left: -9rem; }
}
@media only screen and (max-width: 300px) {
.settings { display: none; }
}