/* Code by Sergio00166 */

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    background: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}
.audio-container {
    position: relative;
    color: #fff;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex {
    display: flex;
    justify-content: center;
}
.lmbsl {
    background-color: yellow !important;
}
h2 {
    text-align: center;
    color: #ffffff;
    -webkit-user-select: text;
    user-select: text;
    word-break: break-all;
    white-space: pre-wrap;
}
img {
    width: 20px;
    height: 20px;
}
.round-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;
}

.duration {
    position: relative;
    width: 36%;
    height: 16px;
    background: #62626274;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
}
/* This weird shit is only to let the */
/* user select easily the start and end */
/* and also try to fix one bug */
.duration::before {
    position: absolute;
    content: "\00a0";
    height: 100%;
    left: -24px;
    width: calc((100% + 50px));
    height: 150%;
    top: -25%;
}

.duration .buffer {
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #ff6a0045;
    z-index: 9;
    width: 0;
}
.hover-time {
    height: 100%;
    position: absolute;
    inset: 0;
    background: #ffffff9a;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 0;
    border-radius: 5px;
}
.hover-time .hover-duration {
    position: absolute;
    background: #3c3c3ca7;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0.75rem;
    visibility: hidden;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}

.duration .current-time {
    height: 100%;
    position: absolute;
    inset: 0;
    background: #ff6a00;
    z-index: 999;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 0;
}
.current-time::before {
    content: "";
    position: absolute;
    right: calc((-25px / 2));
    background: #ff6a00;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all 0.2s;
    visibility: hidden;
    transform: scale(0);
}
.duration:hover .current-time::before {
    visibility: visible;
    transform: scale(1);
}
.volume {
    display: flex;
    align-items: center;
}
.time-container {
    font-size: 13px;
    font-weight: 500;
    padding: 10px;
    color: #eeeeee;
}
.max-vol {
    height: 3px;
    cursor: pointer;
    background: #ffffff6e;
    transition: all 0.1s;
    width: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    display: flex;
    align-items: center;
    margin-right: 0.33rem;
}
.max-vol.show {
    width: 56px;
    visibility: visible;
    transform: scaleX(1);
    margin-right: 1.25rem;
}
.current-vol {
    position: absolute;
    inset: 0;
    width: 20%;
    height: 100%;
    background: #fff;
    display: flex;
    transition: none;
    align-items: center;
}
.current-vol::before {
    content: "";
    position: absolute;
    right: -5px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: #eee;
}
.setting-menu {
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    margin-top: -12rem;
    margin-left: -9.5rem;
    transition: all 0.2s;
    background: rgba(50, 50, 50, 1);
    border-radius: 5px;
    z-index: 9999;
    color: #eeeeee;
}
.setting-menu li {
    padding: 0.3rem 1.33rem;
    margin: 0.25rem;
    transition: all 0.2s;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.speed-active {
    background: rgb(23, 23, 23);
}
.setting-menu li:hover {
    background: rgb(31, 31, 31);
}
.show-setting-menu {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}
button:focus {
    outline: none;
}

.sh_pause {
    display: none;
}
.sh_play {
    display: none;
}
.sh_mute {
    display: none;
}
.sh_fulla {
    display: none;
}
.sh_meda {
    display: none;
}
.sh_lowa {
    display: none;
}
.sh_noa {
    display: none;
}

/* RESPONSIVE (pain) ZONE */

@media (max-width: 1200px) {
    .duration {
        width: 50%;
    }
}
@media (max-width: 960px) {
    .duration {
        width: 67%;
    }
}
@media (max-width: 520px) {
    .duration {
        width: 85%;
    }
}
@media (max-width: 430px) {
    .volume {
        display: none;
    }
    .setting-menu {
        margin-left: -8.2rem;
    }
}
@media (max-width: 300px) {
    .download {
        display: none;
    }
    .setting-menu {
        margin-left: -6.67rem;
    }
}
@media (max-width: 260px) {
    .settings {
        display: none;
    }
}
@media (max-width: 210px) {
    #mode {
        display: none;
    }
}
@media (max-width: 160px) {
    div {
        display: none;
    }
    h2 {
        display: none;
    }
    span {
        display: none;
    }
    .round-button {
        display: none;
    }
    .play {
        display: block;
    }
}

@media (max-height: 140px) {
    div {
        display: none;
    }
    h2 {
        display: none;
    }
    span {
        display: none;
    }
}
@media (max-height: 280px) {
    body {
        overflow: hidden;
    }
    h2 {
        display: none;
    }
    br {
        display: none;
    }
    .settings {
        display: none;
    }
}
