/* Code by Sergio00166  */

body {
    margin: 0;
    height: 100vh;
    height: 100dvh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui;
    background-color: black;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

/* -------------------------
 *   Base
 * ------------------------- */

.audio-player {
    width: 90vw;
    padding: 12px;
    max-width: 500px;
    background: #aaa2;
    border-radius: 20px;
    border: 1px solid #eee4;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
img {
    height: 100%;
    width: auto;
    pointer-events: none;
    transition: filter 0.1s;
}
button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------
 *   Main structure
 * ------------------------- */

.header {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-user-select: text;
    user-select: text;
}
.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.extra-controls {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.playback-controls {
    margin-top: 26px;
    margin-bottom: 24px;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -------------------------
 *   Time / progress bar
 * ------------------------- */

/* Text time displays */
#current-time,
#total-time {
    font-size: 12px;
    font-family: monospace;
    line-height: 1 !important;
}
#total-time {
    margin-left: 12px;
    margin-right: 8px;
}
#current-time {
    margin-left: 8px;
    margin-right: 12px;
}
.time-row {
    width: 100%;
    display: flex;
    align-items: center;
}
#seek-bar {
    margin: auto;
    height: 6px;
    width: calc(100% - 64px);
    position: relative;
    background: #555;
    cursor: pointer;
    border-radius: 4px;
}
/* This weird shit is only to let the */
/* user select easily the start and end */
#seek-bar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200%;
    width: calc(100% + 32px);
    transform: translate(-50%, -50%);
}

/* -------------------------
 *   Hover time show
 * ------------------------- */

#hover-time {
    width: 0;
    overflow: show;
    height: 100%;
    position: absolute;
    background: #fff5;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
#hover-info {
    position: absolute;
    font-size: 11px;
    visibility: hidden;
    font-weight: bold;
    pointer-events: none;
    transform: translateZ(0);
}
#progress {
    width: 0;
    height: 100%;
    display: flex;
    position: absolute;
    background: #ff4a10;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
}
#progress::before {
    opacity: 0;
    content: "";
    width: 12px;
    height: 12px;
    right: -6px;
    position: absolute;
    background: #ff6a00;
    border-radius: 50%;
    transition: all 0.2s;
    transform: scale(0);
    box-shadow: 0 0 3px black;
}
#seek-bar:hover #progress::before {
    opacity: 1;
    transform: scale(1);
}

/* -------------------------
 *   Buttons block
 * ------------------------- */

#play-pause {
    background: #def3;
    padding: 6px;
    border-radius: 12px;
    transition: background-color 0.2s;
}
#play-pause img {
    width: 24px;
    height: 24px;
}
#speed-btn {
    font-size: 18px;
    color: #0a84ff;
    transition: color 0.2s;
    line-height: 1;
}
.nav-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.extra-controls button {
    width: 30px;
    height: 30px;
}

/* -------------------------
 *   Volume controls
 * ------------------------- */

.volume-control {
    gap: 8px;
    width: 90%;
    display: flex;
    align-items: center;
    padding-right: 12px;
}
#vol-icons {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
#volume-bar {
    flex: 1;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #eee;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    box-shadow: 0 0 3px black;
}
#volume-bar::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    box-shadow: 0 0 3px black;
}

/* -------------------------
 *   Responsive rules
 * ------------------------- */

@media (max-height: 400px) or (max-width: 400px) {
    .header {
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (max-height: 300px) {
    .playback-controls {
        margin-top: 16px;
        margin-bottom: 12px;
    }
    .extra-controls {
        margin-top: 12px;
        margin-bottom: 4px;
    }
    .header {
        margin-top: 2px;
        margin-bottom: 20px;
    }
}

/* -------------------------
 *   Hide if screen too small
 * ------------------------- */

@media (max-width: 250px), (max-height: 250px) {
    body > * {
        display: none !important;
    }
    body::before {
        content: "display too small";
        margin: auto;
        padding: 8px;
        color: #eea;
        text-align: center;
    }
}

/* -------------------------
 *   Disable hover when touch
 * ------------------------- */

@media (hover: hover) {
    .nav-btn:hover img,
    .extra-controls button:hover img {
        filter: drop-shadow(0 0 2px white);
        transform: translateZ(0);
    }
    #play-pause:hover {
        background: #def6;
    }
    #speed-btn:hover {
        color: #aad4ff;
    }
}

 