/* Code by Sergio00166 */

.small { display: none; }
.size  { margin-left: 3em; }
.date  { margin-left: 1em; }
.time  { margin-left: 0.5em; }
#invertBtn { flex: 0.2; }

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    margin: 0;
    user-select: none;
    word-break: break-all;
}
img {
    pointer-events: none;
}
pre {
    white-space: pre-wrap;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    user-select: text;
}
button {
    flex: 1;
    padding: 10px;
    background: linear-gradient(145deg, #1f2f3f, #4d5f75);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(145deg, #262a33, #101e1f);
}
button:disabled {
    background: #111;
    color: gray;
    cursor: not-allowed;
}
h2 {
    background: #2f2f2f;
    color: #eee;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
}
.container {
    background-color: #1e1e1e;
    padding: 20px;
    padding-bottom: 21px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-group {
    width: 95%;
    max-width: 1600px;
    margin: auto;
}
.filename {
    display: flex;
    background-color: #2a2a2a;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.name {
    text-align: left;
    flex: 1;
    margin-right: 10px;
    margin-left: 0.4rem;
}
.filename:hover {
    background-color: #3e3e3e;
}
.backdir {
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.backdir:hover {
    background-color: #2e2e2e;
}
.controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ctrl_group {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
}
.ctrl_flex {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
}
.selected {
    background-color: #aa0000;
}
.selected:hover {
    background-color: #880000;
}

.load_container {
    inset: 0;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #121212;
    animation: fadeIn 0.5s ease-out;
    font-family: sans-serif;
    max-width: 100vw;
}

.load_container h1,h3 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: textFade 1.5s ease-in-out infinite alternate;
}
.load_container .progress-bar {
    width: min(350px, 90%);
    height: 16px;
    background: #2e2e2e;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.load_container .progress-bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    background: linear-gradient(90deg, #42e695, #3bb2b8);
    border-radius: 6px;
    animation: slide 1.7s infinite ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes scalePulse {
    from { transform: scale(1); }
    to { transform: scale(1.3); }
}
@keyframes textFade {
    from { opacity: 0.7; }
    to { opacity: 1; }
}
@keyframes slide {
    0% { left: -30%; }
    50% { left: 50%; }
    100% { left: 100%; }
}

.folder { filter: invert(48%) sepia(79%) hue-rotate(86deg) saturate(2500%) brightness(100%) contrast(100%); }
.files { filter: brightness(0) invert(1); }
.goback { filter: saturate(50%) contrast(50%); }
.default { filter: brightness(225%) contrast(300%); }
.pdf { filter: invert(25%) sepia(100%) hue-rotate(-50deg) saturate(1000%) brightness(100%) contrast(100%); }
.doc { filter: brightness(300%) contrast(75%); }
.pp { filter: invert(25%) sepia(100%) saturate(500%) brightness(100%) contrast(100%); }
.src { filter: invert(67%) sepia(25%) saturate(100%) brightness(100%) contrast(100%); }
.zip { filter: invert(48%) sepia(79%) hue-rotate(86deg) saturate(3000%) brightness(50%) contrast(100%); }
.disk { filter: brightness(0) invert(1) brightness(67%); }
.iso { filter: invert(33%) sepia(1) hue-rotate(192deg) saturate(1000%); }


@media (max-width: 1300px) {
    .controls { flex-direction: column; }
}
@media (max-width: 1100px) {
    .time { display: none; }
}
@media (max-width: 900px) {
    .date, .capacity { display: none; }
}
@media (max-width: 800px) {
    .ctrl_group { flex-direction: column; }
    button { padding: 4px; }
}
@media (max-width: 650px) {
    .size { display: none; }
}
@media (max-width: 400px) {
    .ctrl_flex { flex-direction: column; }
    .ctrl_group { flex-direction: row; }
    button { padding: 10px; }
}
@media (max-width: 240px) {
    .filename { padding: 5px 0; border-bottom: 2px solid #000; }
    .filename img { display: none; }
    .backdir .name { display: none; }
    .small { display: inline; }
    .ctrl_group { flex-direction: column; }
    .small { display: inline; }
}
@media (max-width: 120px) {
    .list-group { display: none; }
}
