/* Code by Sergio00166 */

.row {
    display: flex;
    justify-content: space-between;
}
.dir-icon {
    color: #007bff;
    margin-right: 10px;
}
.folder {
    filter: invert(48%) sepia(79%) hue-rotate(86deg) saturate(2500%)
        brightness(100%) contrast(100%);
}
.files {
    filter: brightness(0) invert(1);
}
.goback {
    filter: saturate(50%) contrast(50%);
}
.default {
    filter: brightness(225%) contrast(300%);
}
.pdf {
    filter: invert(25%) sepia(100%) hue-rotate(-50deg) saturate(1000%)
        brightness(100%) contrast(100%);
}
.doc {
    filter: brightness(300%) contrast(75%);
}
.pp {
    filter: invert(25%) sepia(100%) saturate(500%) brightness(100%)
        contrast(100%);
}
.src {
    filter: invert(67%) sepia(25%) saturate(100%) brightness(100%)
        contrast(100%);
}
.zip {
    filter: invert(48%) sepia(79%) hue-rotate(86deg) saturate(3000%)
        brightness(50%) contrast(100%);
}
.iso {
    filter: brightness(0) invert(1) brightness(50%);
}

.no_overflow {
    white-space: nowrap;
}
.h_small {
    display: block;
}
.flex_small_h {
    display: none;
}
.small {
    display: none;
}
.first {
    flex: 1;
    user-select: text;
}
.sort {
    display: flex;
    justify-content: space-between;
}
.sort1 {
    display: flex;
}
.filename:hover {
    background-color: #111111;
}
a:hover {
    background-color: #111111;
}
.selected {
    background-color: red;
}
.selected:hover {
    background-color: #600102;
}
.controls {
    display: flex;
}
.ctrl_flex {
    flex: 1;
    display: flex;
}
.ctrl_flex_1 {
    flex: 1;
    display: flex;
}
.ctrl_flex_2 {
    flex: 1;
    display: flex;
}
.tools {
    flex: 1;
    display: flex;
}
#invertSelection {
    flex: 0.25;
}

button:hover {
    background-color: #111111;
    border-color: white;
}
button:disabled {
    background-color: #111111;
    color: gray;
}
pre {
    display: inline;
    white-space: pre-wrap;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}
.logiobtn {
    background-color: #666666;
    text-decoration: none;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
}
.backdir {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 5px;
    margin-bottom: 16px;
}
button {
    flex: 1;
    color: white;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #666666;
}
body {
    font-family: sans-serif;
    background-color: #000000;
    word-break: break-all;
    user-select: none;
}
h2 {
    background-color: #666666;
    color: #eeeeee;
    margin-top: 8px;
    text-align: center;
    padding: 15px 25px 15px 25px;
    margin-bottom: 16px;
    user-select: text;
}
.container {
    margin-top: 16px;
    border: none;
    background-color: #333333;
    padding-left: 35px;
    padding-right: 40px;
}
.list-group {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    display: block;
}
.filename {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
}


#optionDialog {
    padding: 20px;
    border: 1px solid black;
    background-color: #f9f9f9;
    width: 90%;
    max-width: 300px;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* RESPONSIVE (pain) ZONE */

@media (min-height: 700px) {
    #optionDialog {
        top: 40%;
    }
}

@media (max-width: 1080px) {
    .notime {
        display: none;
    }
}
@media (max-width: 730px) {
    .controls {
        flex-direction: column;
    }
    button {
        margin: 2px;
    }
}
@media (max-width: 650px) {
    .nosize {
        display: none;
    }
}
@media (max-width: 360px) {
    .h_small {
        display: none;
    }
    .flex_small_h {
        display: flex;
    }
    button {
        margin: 1px;
    }
}
@media (max-width: 250px) {
    .image {
        display: none;
    }
    .backdir .first {
        display: none;
    }
    .small {
        display: inline;
    }
    .filename {
        border-bottom: 2px solid black;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 200px) {
    .flex_small_h {
        display: none;
    }
    .h_small {
        display: block;
    }
    .ctrl_flex {
        flex-direction: column;
    }
}
@media (max-width: 120px) {
    .list-group {
        display: none;
    }
    #optionDialog {
        display: none;
    }
}
