/* Code by Sergio00166 */

.small { display: none; }
.size  { margin-left: 3em; }
.date  { margin-left: 1em; }
.time  { margin-left: 0.5em; }
#invertBtn { flex: 0.2; }

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: #f0f0f0;
    margin: 0;
    user-select: none;
}
img {
    pointer-events: none;
    margin-right: 0.4em;
}
pre {
    white-space: pre-wrap;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    user-select: text;
}
button {
    flex: 1;
    padding: 10px;
    background: linear-gradient(145deg, #1f2f3f, #4d5f75);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(145deg, #262a33, #101e1f);
}
button:disabled {
    background: #111;
    color: gray;
    cursor: not-allowed;
}
h2 {
    background: #2f2f2f;
    color: #eee;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
}
.container {
    background-color: #1e1e1e;
    padding: 20px;
    padding-bottom: 21px;
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-group {
    width: 95%;
    margin: auto;
}
.filename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    padding-top: 12px;
    padding-bottom: 12.5px;
    padding-left: 16px;
    padding-right: 18px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.filename .name {
    text-align: left;
    flex: 1;
    margin-right: 10px;
}
.filename:hover {
    background-color: #3e3e3e;
}
.backdir {
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.backdir:hover {
    background-color: #2e2e2e;
}
.controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
.ctrl_group {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
}
.ctrl_flex {
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
}
.load_container {
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    font-weight: 500; 
    color: black;
}
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    height: 95dvh;
}
.selected {
    background-color: #aa0000;
}
.selected:hover {
    background-color: #880000;
}

.folder { filter: invert(48%) sepia(79%) hue-rotate(86deg) saturate(2500%) brightness(100%) contrast(100%); }
.files { filter: brightness(0) invert(1); }
.goback { filter: saturate(50%) contrast(50%); }
.default { filter: brightness(225%) contrast(300%); }
.pdf { filter: invert(25%) sepia(100%) hue-rotate(-50deg) saturate(1000%) brightness(100%) contrast(100%); }
.doc { filter: brightness(300%) contrast(75%); }
.pp { filter: invert(25%) sepia(100%) saturate(500%) brightness(100%) contrast(100%); }
.src { filter: invert(67%) sepia(25%) saturate(100%) brightness(100%) contrast(100%); }
.zip { filter: invert(48%) sepia(79%) hue-rotate(86deg) saturate(3000%) brightness(50%) contrast(100%); }
.disk { filter: brightness(0) invert(1) brightness(67%); }
.iso { filter: invert(33%) sepia(1) hue-rotate(192deg) saturate(1000%); }


@media (max-width: 1300px) {
    .controls { flex-direction: column; }
}
@media (max-width: 1100px) {
    .time { display: none; }
}
@media (max-width: 900px) {
    .date, .capacity { display: none; }
}
@media (max-width: 800px) {
    .ctrl_group { flex-direction: column; }
}
@media (max-width: 650px) {
    .size { display: none; }
}
@media (max-width: 400px) {
    .ctrl_flex { flex-direction: column; }
    .ctrl_group { flex-direction: row; }
}
@media (max-width: 240px) {
    .filename { padding: 5px 0; border-bottom: 2px solid #000; }
    .image { display: none; }
    .backdir .name { display: none; }
    .small { display: inline; }
    .ctrl_group { flex-direction: column; }
    .small { display: inline; }
}
@media (max-width: 120px) {
    .list-group { display: none; }
}
