/* Code by Sergio00166 */

.username { margin-bottom: 13px; }
.password { margin-bottom: 18px; }

body {
    margin: 0;
    background-color: #111;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    height: 100dvh;
    color: white;
    display: grid;
    place-items: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    /* For when the keyboard opens on mobile */
    transition: height 0.3s;
}
#error {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #f21;
    margin-top: 0;
    background: #3a3a3a;
    padding: 10px;
    padding-bottom: 12px;
    border-radius: 8px;
}
.container {
    background-color: #222;
    border-radius: 15px;
    padding: 30px;
    padding-top: 26px;
    padding-bottom: 30px;
    box-shadow: 0 0 24px #000;
    width: min(95%, 400px);
    box-sizing: border-box;
}
input {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #333;
    color: white;
    outline: none;
    box-shadow: 4px 4px 24px #0006;
    transition: background-color 0.3s;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 2em #333 inset;
    -webkit-text-fill-color: white !important;
}
button {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 4px 4px 24px #0006;
    transition: background 0.3s;
}
.button-upload {
    background: #34a;
}
.button-danger {
    background: #c32;
    margin-top: 12px;
}

/* -------------------------
 *   Responsive rules
 * ------------------------- */

@media (max-height: 600px) {
    .container {
        margin-bottom: 0;
    }
}
@media (max-width: 300px) {
    .container {
        padding: 10px;
        padding-top: 16px;
        padding-bottom: 20px;
    }
    #error {
        word-break: break-all;
    }
}
@media (max-width: 120px) {
    .container {
        display: none;
    }
}

/* -------------------------
 *   Disable hover when touch
 * ------------------------- */

@media (hover: hover) {
    .button-upload:hover {
        background: #446;
        box-shadow: 0 0 3px white;
    }
    .button-danger:hover {
        background: #643;
        box-shadow: 0 0 3px white;
    }
    input:hover {
        background-color: #444;
        box-shadow: 0 0 2px white;
    }
}

 