/* Code by Sergio00166 */

#fileInput { display: none; }
.username { margin-bottom: 12px; }
.password { margin-bottom: 16px; }

body {
    margin: 0;
    background-color: #121212;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    user-select: none;
    transition: 0.2s;
}

#error {
    text-align: center;
    color: #ff4d4d;
    margin-top: 0;
    background: #2b2b2b;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
}

.container {
    margin-bottom: 5vh;
    margin-bottom: 5dvh;
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
    box-shadow: 0 0 20px #000;
    display: flex;
    flex-direction: column;
    width: min(95%, 400px);
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    background-color: #2a2a2a;
    color: white;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

button {
    padding: 18px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.button-upload {
    background: linear-gradient(145deg, #1f2f3f, #2d3f55);
}

.button-upload:hover {
    background: #2d3f55;
    transform: scale(1.02);
}

.button-danger {
    background-color: #aa0000;
    margin-top: 10px;
}

.button-danger:hover {
    background-color: #880000;
    transform: scale(1.02);
}

@media (max-height: 600px) {
    .container {
        margin-bottom: 0;
    }
}
@media (max-width: 300px) {
    .container {
        padding: 10px;
        padding-top: 16px;
        padding-bottom: 20px;
    }
}
@media (max-width: 120px) {
    .container {
        display: none;
    }
}
