/* Code by Sergio00166 */

#fileInput { display: none; }
.username { margin-bottom: 13px; }
.password { margin-bottom: 18px; }

body {
    margin: 0;
    background-color: #111;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* For when the keyboard opens on mobile */
    transition: 0.2s; 
}
#error {
    text-align: center;
    color: #f21;
    margin-top: 0;
    background: #3a3a3a;
    padding: 10px;
    padding-bottom: 12px;
    border-radius: 8px;
    max-width: 100%;
}
.container {
    background-color: #222;
    border-radius: 15px;
    padding: 30px;
    padding-top: 26px;
    padding-bottom: 30px;
    box-shadow: 0 0 24px #000;
    display: flex;
    flex-direction: column;
    width: min(95%, 400px);
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 18px;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 1em;
    background-color: #333;
    color: white;
    outline: none;
    box-shadow: 4px 4px 24px #0006;
    transition: border-color 0.3s, background-color 0.2s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 86px 16px #111 inset;
    -webkit-text-fill-color: #fff !important;
    border: 2px solid #260;
}
input:hover {
    background-color: #4a4a4a;
    border: 2px solid #555;
}
button {
    padding: 16px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    box-shadow: 4px 4px 24px #0006;
    transition: border-color 0.3s, background-color 0.2s;
}
.button-upload {
    background-color: #1a73e8;
    border: 2px solid transparent;
}
.button-upload:hover {
    background-color: #1558b0;
    border: 2px solid #0f7eff;
}
.button-danger {
    background-color: #e53935;
    border: 2px solid transparent;
    margin-top: 12px;
}
.button-danger:hover {
    background-color: #b71c1c;
    border: 2px solid #ff2535;
}

@media (max-height: 600px) {
    .container {
        margin-bottom: 0;
    }
}
@media (max-width: 300px) {
    .container {
        padding: 10px;
        padding-top: 16px;
        padding-bottom: 20px;
    }
}
@media (max-width: 120px) {
    .container {
        display: none;
    }
}

