/* Code by Sergio00166 */

/* Just to add a border to the subtitles */
video::cue {
    background: none !important;
    line-height: 1.1 !important;
    text-shadow: 0.07em 0.07em 0.05em black, -0.07em 0.07em 0.05em black,
                 0.07em -0.07em 0.05em black, -0.07em -0.07em 0.05em black,
                 0.07em 0 0.05em black, -0.07em 0 0.05em black,
                 0 0.07em 0.05em black, 0 -0.07em 0.05em black !important;
}
/* Dont cut the bottom of the bottom subtitles */
video::-webkit-media-text-track-display { padding: 0.25em !important; }
/* Dont fucking show native video controls */
video::-webkit-media-controls, 
video::-moz-media-controls { display: none !important; }

.video-container {
    width: 90vw;
    height: 90dvh;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#touch-box {
    position: absolute;
    width: 100%;
    height: 100%;
}
img {
    pointer-events: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}
.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 4px;
    cursor: pointer;
    flex-shrink: 0;
}
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background: black;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}
.custom-loader {
    width: 108px;
    height: 108px;
    border: 10px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    transition: all 0.5s;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main-state {
    opacity: 0;
    transform: scale(0);
    height: 75px;
    width: 75px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.main-state.show {
    opacity: 0.8;
    transform: scale(1);
}
.main-state img {
    width: 67%;
    height: 67%;
}
.controls {
    bottom: 0;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}
.duration {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 64px);
    height: 6px;
    cursor: pointer;
    border-radius: 4px;
}
.duration::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
/* This weird shit is only to let the */
/* user select easily the start and end */
.duration::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 200%;
    transform: translate(-50%, -50%);
}
.chapter-container {
    position: relative;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}
.chapter {
    position: absolute;
    height: 100%;
    width: 2px;
    margin-left: -1px;
    background-color: black;
    z-index: 2;
}
.hover-time {
    position: absolute;
    display: flex;
    inset: 0;
    height: 100%;
    background: #fff4;
    align-items: center;
    border-radius: 5px;
}
.hover-time .hover-duration {
    position: absolute;
    width: max-content;
    max-width: min(150px, 40vw) !important;
    padding: 0.3rem;
    border-radius: 8px;
    font-size: 0.8rem;
    visibility: hidden;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}
.current-time {
    inset: 0;
    width: 0;
    height: 100%;
    display: flex;
    position: absolute;
    background: #ff4a10c0;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
}
.current-time::before {
    opacity: 0;
    content: "";
    width: 12px;
    height: 12px;
    right: -6px;
    position: absolute;
    background: #ff6a00e0;
    border-radius: 50%;
    transition: all 0.2s;
    transform: scale(0);
    box-shadow: 0 0 3px black;
}
.duration:hover .current-time::before {
    opacity: 1;
    transform: scale(1);
}
.btn-controls {
    padding-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-container {
    font-size: 13px;
    padding-right: 16px;
}
.time-container span {
    display: inline-block;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    box-shadow: none !important;
}
.volume {
    display: flex;
    align-items: center;
}
.mute-unmute {
    display: flex;
    cursor: pointer;
}
#volume-bar {
    height: 4px;
    cursor: pointer;
    border-radius: 3px;
    visibility: hidden;
    width: 0 !important;
    background: #eee;
    transition: all 0.1s;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #333;
}
#volume-bar::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 3px black;
}
#volume-bar::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    box-shadow: 0 0 3px black;
}
#volume-bar.show {
    width: 48px !important;
    visibility: visible;
    transform: scaleX(1);
}
.setting-menu {
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 84px;
    transition: all 0.2s;
    transform: scaleY(0);
    transform-origin: bottom;
    border-radius: 12px;
    margin-left: -50px;
}
.setting-menu.show {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}
.setting-menu li {
    padding: 0.33rem 0.5rem;
    margin: 0.25rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.setting-menu li:nth-child(-n+3):focus-within { outline: auto; }
.setting-menu li:nth-child(1)::before { content: "Subs"; position: absolute; }
.setting-menu li:nth-child(2)::before { content: "Tracks"; position: absolute; }
.setting-menu li:nth-child(3)::before { content: "Speed"; position: absolute; }

select {
    position: relative;
    cursor: pointer;
    appearance: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 70px;
    opacity: 0;
    border: none;
}
select option {
    background: #363a43;
    color: white;
}
.fullscreen {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    background: black !important;
    align-items: center !important;
    -webkit-tap-highlight-color: transparent !important;
    user-select: none !important;
}
.side-controls {
    display: flex;
    align-items: center;
}

/* Liquid Glass Fx */
.duration::before, .main-state, .time-container span,
.round-button, .setting-menu, .hover-duration {
    backdrop-filter: invert(10%) brightness(75%) saturate(200%) blur(3px);
    -webkit-backdrop-filter: invert(10%) brightness(75%)  saturate(200%) blur(3px);
    background: transparent;
    box-shadow: 0 0 2px #FFFA;
}

/* Just to animate with Opacity but
WITHOUT BREAKING the backdrop-filter */
.time-container span, .round-button,
.duration::before, .duration * {
    opacity: 0;
    transition: opacity 0.3s;
}
.controls.show .time-container span,
.controls.show .duration::before,
.controls.show .round-button,
.controls.show .duration * {
    opacity: 1;
}
.chapter-container, .duration .current-time,
.duration .hover-time {
    transition: none !important;
}

/* Default values */
.vol_val_st { font-size: 1.3rem; }
.full, .contract { display: none; }
.video-container:not(.fullscreen) .full { display: block; }
.video-container.fullscreen .contract { display: block; }
.lmbsl { background: #8f9f3030 !important; }
.video-box, .video-container { position: relative; }
canvas { position: absolute; }


/* RESPONSIVE */
@media (max-width: 900px) {
    .main-state {
        height: 64px;
        width: 64px;
    }
    .custom-loader {
        height: 90px;
        width: 90px;
    }
}
@media (max-width: 520px) {
    .play-pause {
        display: none;
    }
}
@media (max-width: 470px) {
    .time-container {
        margin-bottom: 8px;
        padding-right: 0;
    }
    .volume {
        display: none;
    }
    .btn-controls {
        padding-top: 0.67rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .setting-menu {
        bottom: 100px;
    }
}
@media (max-width: 320px) {
    .duration {
        width: 90%;
    }
    #mode {
        display: none;
    }
    .main-state {
        height: 40px;
        width: 40px;
    }
    .custom-loader {
        height: 56px;
        width: 56px;
        border-width: 5px;
    }
    .vol_val_st { 
        font-size: 1rem;
    }
}
@media (max-width: 220px) {
    .settings {
        display: none;
    }
}
@media (max-height: 320px) {
    .btn-controls {
        display: none;
    }
    .video-box, .main-state, .custom-loader {
        margin-bottom: 8px !important;
    }
}
@media (max-aspect-ratio: 1/1) {
    .video-box, .main-state, .custom-loader {
        margin-bottom: 30px;
    }
}
@media (min-aspect-ratio: 1/1) and (max-height: 320px) {
    .hover-time .hover-duration {
        font-size: 0.5rem;
    }
}
@media ((max-width: 160px) or (max-height: 160px)) {
    .video-container {
        display: none;
    }
}

/* Hover styles on devices that support it */
@media (hover: hover) {
    .setting-menu li:hover, .round-button:hover {
        outline: 2px solid #fffa !important;
    }
}


