/* Code by Sergio00166 */

/* Just to add a border to the subtitles */
video::cue {
    background: none !important;
    line-height: 1 !important;
    text-shadow: 0.04em 0.04em 0.025em black, -0.04em 0.04em 0.025em black,
        0.04em -0.04em 0.025em black, -0.04em -0.04em 0.025em black,
        0.04em 0 0.025em black, -0.04em 0 0.025em black, 0 0.04em 0.025em black,
        0 -0.04em 0.025em black !important;
}
/* Dont cut the bottom of the bottom subtitles */
video::-webkit-media-text-track-display {
    padding-bottom: 0.25em !important;
}
/* Dont fucking show native video controls */
video::-webkit-media-controls { display: none !important; }
video::-moz-media-controls    { display: none !important; }

.video-container {
    position: relative;
    width: 90vw;
    height: 90vh;
    height: 90dvh;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-box { position: relative; }
canvas { position: absolute; }
#touch-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    filter: brightness(0) invert(1);
}
.fullimg {
    width: 60%;
    height: 60%;
}
.round-button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: rgba(36, 36, 36, 0.667);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;
}
.lmbsl {
    background: rgba(160, 192, 64, 0.667) !important;
}
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    background: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

.loader {
    width: 108px;
    height: 108px;
}
.custom-loader {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
    transform: scale(0);
    display: flex;
    position: absolute;
    justify-content: center;
}
.state-btn {
    font-size: 2.3rem;
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: rgba(36, 36, 36, 0.667);
    opacity: 0;
    position: absolute;
    justify-content: center;
}
.animate-state {
    animation: animation 0.4s forwards;
}
.show-state {
    transform: scale(1);
    opacity: 1;
}
.show-controls {
    opacity: 1 !important;
    transform: translateY(0) !important;
    visibility: visible !important;
}
.controls {
    position: absolute;
    bottom: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    background: linear-gradient(to top, #000000b8 -100%, transparent);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.duration {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: calc((100% - 64px));
    height: 15px;
    background: #62626274;
    cursor: pointer;
    border-radius: 4px;
}
/* This weird shit is only to let the */
/* user select easily the start and end */
/* and also try to fix one bug */
.duration::before {
    position: absolute;
    content: "\00a0";
    height: 100%;
    left: -48px;
    width: calc((100% + 98px));
    height: 150%;
    top: -25%;
}

.chapter-container {
    position: relative;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.chapter {
    position: absolute;
    height: 100%;
    width: 2px;
    margin-left: -1px;
    background-color: #0f0f0f;
}
.duration .buffer {
    height: 100%;
    position: absolute;
    background-color: #ff6a0045;
    z-index: 9 !important;
    width: 0;
}
.hover-time {
    overflow: show;
    height: 100%;
    position: absolute;
    inset: 0;
    background: #ffffff9a;
    z-index: 99 !important;
    display: flex;
    align-items: center;
    width: 0;
    border-radius: 5px;
}
.hover-time .hover-duration {
    position: absolute;
    background: #3c3c3ca7;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 0.8rem;
    visibility: hidden;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
}
.duration .current-time {
    height: 100%;
    position: absolute;
    inset: 0;
    background: #ff6a00;
    z-index: 999 !important;
    display: flex;
    align-items: center;
    width: 0;
    border-radius: 5px;
}
.current-time::before {
    content: "";
    position: absolute;
    right: calc((-25px / 2));
    background: #ff6a00;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: all 0.2s;
    visibility: hidden;
    transform: scale(0);
}
.duration:hover .current-time::before {
    visibility: visible;
    transform: scale(1);
}
.btn-controls {
    padding-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-container {
    font-size: 13px;
    font-weight: 500;
}
.volume {
    display: flex;
    align-items: center;
}
.mute-unmute {
    display: flex;
    cursor: pointer;
}
.max-vol {
    height: 3px;
    cursor: pointer;
    background: #ffffff6e;
    transition: all 0.1s;
    width: 0;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    display: flex;
    align-items: center;
    margin-right: 0.33rem;
}
.max-vol.show {
    width: 56px;
    visibility: visible;
    transform: scaleX(1);
    margin-right: 1.25rem;
}
.current-vol {
    position: absolute;
    inset: 0;
    width: 20%;
    height: 100%;
    background: #fff;
    display: flex;
    transition: none;
    align-items: center;
}
.current-vol::before {
    content: "";
    position: absolute;
    right: -5px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: #eee;
}
.setting-menu {
    opacity: 0;
    visibility: hidden;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    position: absolute;
    bottom: 5rem;
    margin-right: 2rem;
    transition: all 0.2s;
    background: rgba(28, 28, 28, 0.9);
    transform: scaleY(0);
    transform-origin: bottom;
    border-radius: 5px;
    margin-left: -3rem;
}
.setting-menu li {
    padding: 0.33rem 0.5rem;
    margin: 0.25rem;
    transition: all 0.2s;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.setting-menu li:nth-child(1)::before {
    content: "Subs";
    color: #ffffff;
    position: absolute;
}
.setting-menu li:nth-child(2)::before {
    content: "Tracks";
    color: #ffffff;
    position: absolute;
}
.setting-menu li:nth-child(3)::before {
    content: "Speed";
    color: #ffffff;
    position: absolute;
}
select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    appearance: none;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    width: 64px;
    opacity: 0;
    border: none;
}
select option {
    background-color: rgba(28, 28, 28, 0.9);
    color: #eee;
}
.speed-active {
    background: rgb(64, 64, 64);
    background: rgb(64, 64, 64);
}
.setting-menu li:hover {
    background: rgb(36, 36, 36);
}
.setting-btn {
    display: flex;
}
.show-setting-menu {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}
.fullscreen {
    position: absolute !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    background: #000 !important;
    align-items: center !important;
}
.side-controls {
    display: flex;
    align-items: center;
}
.full,.contract {
    display: none;
}
.video-container:not(.fullscreen) .full {
    display: flex;
}
.video-container.fullscreen .contract {
    display: flex;
}
@keyframes animation {
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* Define default values */
.sh_mute { display: none; }
.sh_unmute { display: none; }
.sh_pause { display: none; }
.sh_play { display: none; }
.sh_play_st { display: none; }
.sh_mute_st { display: none; }
.sh_unmute_st { display: none; }
.sh_fordward_st { display: none; }
.sh_back_st { display: none; }
.sh_fulla { display: none; }
.sh_meda { display: none; }
.sh_lowa { display: none; }
.sh_noa { display: none; }
.text { color: #ffffff; }
button:focus { outline: none; }
.transition { transition: opacity 0.25s ease; }


/* RESPONSIVE (pain) ZONE */

@media (max-width: 500px) {
    .play-pause {
        display: none;
    }
}
@media (max-width: 320px) {
    .duration {
        width: 90%;
    }
    .volume, .text {
        display: none;
    }
}
@media (max-width: 200px) {
    .settings {
        display: none;
    }
}

@media (max-aspect-ratio: 1/1) {
    .video-box, .main-state, .custom-loader{
        margin-bottom: 86px;
    }
    @media (max-width: 420px) {
        .btn-controls {
            padding-top: 0.67rem;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .setting-menu {
            margin-left: 2rem;
            margin-bottom: 2rem;
        }
    }
    @media (max-width: 320px) {
        .setting-menu {
            margin-left: 0.5rem;
            margin-bottom: 0;
        }
    }
    @media (max-width: 260px) {
        .setting-menu {
            margin-left: 0.5rem;
            margin-bottom: -1rem;
        }
    }
    /* Hide everything if screen is so fucking small */
    @media (max-width: 160px) {
        .video-container {
            display: none;
        }
    }
}

@media (min-aspect-ratio: 1/1) {
    @media (max-width: 430px) {
        .time-container {
            display: none;
        }
        .controls {
            padding: 1rem;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .setting-menu {
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
    }
    @media (max-height: 320px) {
        .hover-time .hover-duration {
            font-size: 0.5rem;
        }
        .side-controls {
            display: none;
        }
    }
    @media (max-height: 320px) {
        .hover-time .hover-duration {
            font-size: 0.5rem;
        }
        .video-container {
            padding-bottom: 0;
        }
        .side-controls {
            display: none;
        }
    }
    /* Hide everything if screen is so fucking small */
    @media (max-height: 160px) {
        .video-container {
            display: none;
        }
    }
}
