/* Code by Sergio00166 */

video::cue {
  background: none !important;
  line-height: 1 !important;
  text-shadow:
      0.04em 0.04em 0.025em black,
      -0.04em 0.04em 0.025em black,
      0.04em -0.04em 0.025em black,
      -0.04em -0.04em 0.025em black,
      0.04em 0 0.025em black,
      -0.04em 0 0.025em black,
      0 0.04em 0.025em black,
      0 -0.04em 0.025em black
      !important;
}
video::-webkit-media-text-track-display { 
    padding-bottom: 0.25em !important;
}
img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  filter: brightness(0) invert(1);
}
.fullimg {
  width: 48px;
  height: 48px;
}
.round-button {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: rgba(36, 36, 36, 0.667);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  position: relative;
  margin-right: 0.5rem;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000000;
  -webkit-tap-highlight-color: transparent;
}
.video-container {
  position: relative;
  width: calc((16/9)*90vh);
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none !important;
}
video {
    max-height: 90vh;
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    z-index: -1 !important;
}
.video-container:fullscreen video {
    max-height: 100vh;
}
.loader {
  width: 108px;
  height: 108px;
}
.custom-loader {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0;
  transform: scale(0);
  display: flex;
  position: absolute;
  justify-content: center;
}
.state-btn {
  margin-bottom: 2rem;
  font-size: 2.3rem;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(36, 36, 36, 0.667);
  opacity: 0;
  transform: scale(0);
  display: flex;
  position: absolute;
  justify-content: center;
}
.animate-state {
  animation: animation 0.4s forwards;
}
.show-state {
  transform: scale(1);
  opacity: 1;
}
.show-controls {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}
.controls {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 100%;
  background: linear-gradient(to top, #000000b8 -100%, transparent);
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.duration {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc((100% - 64px));
  height: 15px;
  background: #62626274;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 4px;
}
.chapter-container {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.chapter {
    position: absolute;
    height: 100%;
    width: 2px;
    margin-left: -1px;
    background-color: #0F0F0F;
}
.duration .buffer {
  height: 100%;
  position: absolute;
  background-color: #ff6a0045;
  z-index: 9 !important;
  width: 0;
}
.hover-time {
  overflow: show;
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ffffff9a;
  z-index: 99 !important;;
  display: flex;
  align-items: center;
  width: 0;
  border-radius: 5px;
}
.hover-time .hover-duration {
  position: absolute;
  right: 0%;
  top: -35px;
  background: #3c3c3ca7;
  padding: 0.2rem;
  border-radius: 5px;
  font-size: 0.7rem;
  visibility: hidden;
  font-weight: bold;
  opacity: 0;
  text-align: center;
}
.duration:hover .hover-time .hover-duration {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
  transform: scale(1);
}
.duration .current-time {
  height: 100%;
  position: absolute;
  inset: 0;
  background: #ff6a00;
  z-index: 999 !important;;
  display: flex;
  align-items: center;
  width: 0;
  border-radius: 5px;
}
.current-time::before {
  content: "";
  position: absolute;
  right: calc((-25px / 2));
  background: #ff6a00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all 0.2s;
  visibility: hidden;
  transform: scale(0);
}
.duration:hover .current-time::before {
  visibility: visible;
  transform: scale(1);
}
.btn-controls {
  padding-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-container {
  font-size: 13px;
  font-weight: 500;
}
.volume {
  display: flex;
  align-items: center;
}
.mute-unmute {
  display: flex;
  cursor: pointer;
}
.max-vol {
  height: 3px;
  cursor: pointer;
  background: #ffffff6e;
  transition: all 0.1s;
  width: 0;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: left;
  display: flex;
  align-items: center;
  margin-right: 0.33rem;
}
.max-vol.show {
  width: 56px;
  visibility: visible;
  transform: scaleX(1);
  margin-right: 1.25rem;
}
.current-vol {
  position: absolute;
  inset: 0;
  width: 20%;
  height: 100%;
  background: #fff;
  display: flex;
  transition: none;
  align-items: center;
}
.current-vol::before {
  content: "";
  position: absolute;
  right: -5px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #eee;
}
.setting-menu {
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  bottom: 5rem;
  margin-right: 2rem;
  transition: all 0.2s;
  background: rgba(28, 28, 28, 0.9);
  transform: scaleY(0);
  transform-origin: bottom;
  border-radius: 5px;
  margin-left: -3rem;
}
.setting-menu li {
  padding: 0.33rem 0.5rem;
  margin: 0.25rem;
  transition: all 0.2s;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.setting-menu li:nth-child(1)::before {
    content: "Subs";
    color: #FFFFFF;
    position: absolute;
}
.setting-menu li:nth-child(2)::before {
    content: "Tracks";
    color: #FFFFFF;
    position: absolute;
}
.setting-menu li:nth-child(3)::before {
    content: "Speed";
    color: #FFFFFF;
    position: absolute;
}
select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  width: 64px;
  opacity: 0;
  border: none;
}
select option {
   background-color: rgba(28, 28, 28, 0.9);
   color: #EEE;
}
.speed-active {
  background: rgb(64, 64, 64);
  background: rgb(64, 64, 64);
}
.setting-menu li:hover {
  background: rgb(36, 36, 36);
}
.setting-btn {
  display: flex;
}
.show-setting-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.fullscreen {
  position: absolute !important;
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  background: #000 !important;
  align-items: center !important;
}
.side-controls {
  display: flex;
  align-items: center;
}
.full,
.contract {
  display: none;
}
.video-container:not(.fullscreen) .full {
  display: flex;
}
.video-container.fullscreen .contract {
  display: flex;
}
@keyframes animation {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.sh_mute { display: none; }
.sh_unmute { display: none; }
.sh_pause { display: none; }
.sh_play { display: none; }
.sh_play_st { display: none; }
.sh_mute_st { display: none; }
.sh_unmute_st { display: none; }
.sh_fordward_st { display: none; }
.sh_back_st { display: none; }
.sh_fulla { display: none; }
.sh_meda { display: none; }
.sh_lowa { display: none; }
.sh_noa { display: none; }
.text { color: #ffffff; }

.transition { transition: opacity 0.25s ease; }

button:focus { outline: none; }

@media only screen and (max-width: 500px) {
  .play-pause { display: none; }
}
@media only screen and (max-width: 420px) {
  .btn-controls {
    padding-top: 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .setting-menu { margin-left: 2rem; margin-bottom: 2.25rem; }
}
@media only screen and (max-width: 340px) {
  .controls { padding: 0px; }
  .volume { display: none; }
  .setting-menu { margin-left: -4rem; margin-bottom: 2.25rem;}
  .settings { display: none; }
}
@media only screen and (max-width: 240px) {
  .text { display: none; }
  .duration { width: calc((100% - 36px)); }
  .state-btn { width: 35vw; height: 35vw; }
  .fullimg { width: 21vw; height: 21vw; }
}
@media only screen and (max-width: 140px) {
    .video-container { display: none; }
}
@media only screen and (max-height: 290px) {
  .controls {
       padding: 0px;
       padding-top: 1rem;
       margin-bottom: -0.6rem;
   }
  .state-btn {
      margin-bottom: 10vh;
      width: 25vh;
      height: 25vh;
  }
  .fullimg { width: 16vh; height: 16vh; }
  .side-controls { display: none; }
}
@media only screen and (max-height: 140px) {
   .video-container { display: none; }
}

@media (max-aspect-ratio: 1/1) {
   body { height: 90vh; }
   .video-container {
      padding-bottom: 86px;
      margin-top: 57px;
   } .state-btn { margin-bottom: 0px; }
}
@media (max-aspect-ratio: 1/1) and (max-width: 420px) {
   .video-container {
      padding-bottom: 120px;
      margin-top: 80px;
   } .state-btn { margin-bottom: 0px; }
}
@media (max-aspect-ratio: 1/1) and (max-width: 340px) {
   .video-container {
      padding-bottom: 98px;
      margin-top: 65px;
   } .state-btn { margin-bottom: 0px; }
}
