/* Code by Sergio00166 */

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    color: white;
    background: black;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

/* -------------------------
 *  SCROLL-BARS
 *  ------------------------- */

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff3;
    border-radius: 4px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: #fff3 transparent;
}

/* -------------------------
 *   Subtitle styles
 * ------------------------- */

video::cue {
    background: none !important;
    line-height: 1.1 !important;
    text-shadow: 0.07em 0.07em 0.05em black, -0.07em 0.07em 0.05em black,
    0.07em -0.07em 0.05em black, -0.07em -0.07em 0.05em black,
    0.07em 0 0.05em black, -0.07em 0 0.05em black,
    0 0.07em 0.05em black, 0 -0.07em 0.05em black !important;
}
/* Dont cut the bottom of the bottom subtitles */
video::-webkit-media-text-track-display { padding: 0.25em !important; }
/* Dont fucking show native video controls */
video::-webkit-media-controls,
video::-moz-media-controls { display: none !important; }

/* -------------------------
 *   Pointer config
 * ------------------------- */

#custom-loader, #main-state,
#hover-info, img {
    pointer-events: none;
}

/* -------------------------
 *   Main structure
 * ------------------------- */

#video-container {
    width: 90vw;
    height: 90vh;
    height: 90dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#controls {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 0 12px;
    pointer-events: auto;
}

/* -------------------------
 *   Controls bar
 * ------------------------- */

.time-container {
    gap: 4px;
    left: 50%;
    display: flex;
    line-height: 1;
    font-size: 12px;
    position: absolute;
    padding: 4px 5px;
    padding-right: 6px;
    border-radius: 6px;
    transform: translateX(-50%);
    box-shadow: none !important
}
.btn-controls {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-controls {
    display: flex;
    align-items: center;
}

/* -------------------------
 *   Buttons + svg
 * ------------------------- */

button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    cursor: pointer;
    flex-shrink: 0;
}
button img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

/* -------------------------
 *   Main state (show status)
 * ------------------------- */

#main-state {
    opacity: 0;
    transform: scale(0);
    height: 64px;
    width: 64px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: none !important;
}
#main-state.show {
    opacity: 0.8;
    transform: scale(1);
}
#main-state img {
    width: 75%;
    height: 75%;
}

/* -------------------------
 *   Main time bar
 * ------------------------- */

#seek-bar {
    left: 0;
    right: 0;
    bottom: 20px;
    height: 8px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    width: calc(100% - 64px)
}
#seek-bar::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
}
/* This weird shit is only to let the */
/* user select easily the start and end */
#seek-bar::after {
    content: "";
    top: 50%;
    left: 50%;
    height: 200%;
    position: absolute;
    width: calc(100% + 32px);
    transform: translate(-50%, -50%);
}

/* -------------------------
 *   Time bar current time
 * ------------------------- */

#progress {
    height: 100%;
    z-index: 1;
    display: flex;
    position: absolute;
    background: #ff4a10c0;
    align-items: center;
    border-radius: 5px;
    transition: none !important;
}
#progress::before {
    content: "";
    width: 12px;
    height: 12px;
    right: -6px;
    position: absolute;
    background: #ff6a00e0;
    border-radius: 50%;
    transition: all 0.2s;
    transform: scale(0);
    box-shadow: 0 0 3px black;
}
#seek-bar:hover
#progress::before {
    opacity: 1;
    transform: scale(1);
}

/* -------------------------
 *   Hover time & Show info
 * ------------------------- */

#hover-time {
    width: 0;
    position: absolute;
    display: flex;
    height: 100%;
    background: #fff4;
    align-items: center;
    border-radius: 5px;
    transition: none !important;
}
#hover-info {
    position: absolute;
    width: max-content;
    max-width: min(150px, 40vw);
    line-height: 1.2;
    padding: 6px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

/* -------------------------
 *   Time bar chapters
 * ------------------------- */

#chapter-container {
    position: relative;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
    transition: none !important;
}
.chapter {
    position: absolute;
    height: 100%;
    width: 3px;
    margin-left: -1px;
    background-color: black;
    box-shadow: 0 0 1px white;
    z-index: 1;
}

/* -------------------------
 *   Sound control
 * ------------------------- */

#volume {
    display: flex;
    align-items: center;
}
.mute-unmute {
    display: flex;
    cursor: pointer;
}
#volume-bar {
    height: 4px;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    width: 0 !important;
    visibility: hidden;
    background: #eee;
    transition: all 0.1s;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 3px black;
}
#volume-bar::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 3px black;
}
#volume-bar::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    box-shadow: 0 0 3px black;
}
#volume-bar.show {
    width: 48px !important;
    visibility: visible;
    transform: scaleX(1);
}

/* -------------------------
 *   Settings Menu
 * ------------------------- */

#setting-menu {
    position: absolute;
    top: 40px;
    right: -10px;
    max-width: 240px;
    transition: transform 0.2s;
    transform: scale(0);
    transform-origin: 86% 1%;
    border-radius: 12px;
    z-index: 1;
}
#setting-menu.show {
    transform: scale(1);
}
#setting-menu button {
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    padding: 8px 12px;
    border-radius: 12px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}
.menu-content {
    max-height: calc(min(50vh, 360px) - 30px);
    max-height: calc(min(50dvh, 360px) - 30px);
}
#main-menu {
    max-height: min(50vh, 360px);
    max-height: min(50dvh, 360px); 
}
#main-menu, .menu-content {
    padding: 2px;
    overflow: auto;
}
.back-button {
    background: #2345 !important;
    border-radius: 12px 12px 0 0 !important;
}
#main-menu > button > span:last-of-type {
    flex: 1;
    padding-right: 1px;
    font-size: 12px;
    color: #bfd;
    font-style: italic;
    margin-left: 24px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* -------------------------
 *   Loading animation
 * ------------------------- */

#custom-loader {
    width: 96px;
    height: 96px;
    border: 10px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    transition: all 0.5s;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------------
 *   Transparent style
 * ------------------------- */

#seek-bar::before, .glass {
    background-color: #222A;
    box-shadow: 0 0 2px #FFFA;
}
@supports (backdrop-filter: blur(4px)) {
    body[data-fx="yes"] #seek-bar::before,
    body[data-fx="yes"] .glass{
        backdrop-filter: saturate(200%) invert(10%) brightness(75%) blur(4px);
        background: transparent;
        box-shadow: 0 0 2px #FFFA;
    }
}

/* ------------------------
 *   Show/hide button controls
 *   Without messing with the
 *   filter and layers.
 * ------------------------- */

 #controls .time-container,
 #controls #seek-bar::before,
 #controls #seek-bar *,
 #controls button.glass {
     opacity: 0;
     transition: opacity 0.3s;
 }
 #controls.show #seek-bar::before,
 #controls.show .time-container,
 #controls.show #seek-bar *,
 #controls.show button.glass {
     opacity: 1;
 }

/* -------------------------
 *   Other
 * ------------------------- */

#state_volume { font-size: 20px; }
#video-container { position: relative; }
.video-box, canvas { position: absolute; }
#settings { position: relative; }

/* -------------------------
 *   Responsive
 * ------------------------- */

@media (max-width: 600px) {
    #seek-bar {
        bottom: 10px;
    }
    .time-container {
        bottom: 24px;
        padding-bottom: 3px;
    }
}
@media (max-width: 500px) {
    #play-pause,
    #volume {
        display: none;
    }
    .btn-controls {
        justify-content: center;
    }
    #setting-menu {
        left: 50%;
        right: unset;
        position: fixed;
        transform: translateX(-50%) scale(0);
        transform-origin: 68% 0;
        max-width: 80vw;
    }
    #setting-menu.show {
        transform: translateX(-50%) scale(1);
    }
}
@media (max-width: 320px) {
    #seek-bar {
        width: 90%;
    }
}
@media (max-width: 250px) {
    #mode {
        display: none;
    }
    #setting-menu {
        transform-origin: 61% 0;
    }
}
@media (max-width: 200px) {
    #setting-menu,
    #settings {
        display: none;
    }
}

/* -------------------------
 *   Responsive (hide)
 * ------------------------- */

@media (max-height: 200px) or (max-width: 150px) {
    .btn-controls {
        display: none;
    }
    #seek-bar {
        bottom: 4px;
        height: 5px;
    }
}
@media (max-height: 120px) or (max-width: 120px) {
    #video-container {
        display: none;
    }
}

/* -------------------------
 *   Disable hover when touch
 * ------------------------- */

@media (hover: hover) {
    #setting-menu button:hover,
    button.glass:hover {
        outline: 2px solid #fffa !important;
    }
}

 