/* Code by Sergio00166 */

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100dvh;
    color: white;
    background: black;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

/* -------------------------
 *   Subtitle styles
 * ------------------------- */

video::cue {
    background: none !important;
    line-height: 1.1 !important;
    text-shadow: 0.07em 0.07em 0.05em black, -0.07em 0.07em 0.05em black,
    0.07em -0.07em 0.05em black, -0.07em -0.07em 0.05em black,
    0.07em 0 0.05em black, -0.07em 0 0.05em black,
    0 0.07em 0.05em black, 0 -0.07em 0.05em black !important;
}
/* Dont cut the bottom of the bottom subtitles */
video::-webkit-media-text-track-display { padding: 0.25em !important; }
/* Dont fucking show native video controls */
video::-webkit-media-controls,
video::-moz-media-controls { display: none !important; }

/* -------------------------
 *   Pointer config
 * ------------------------- */

#custom-loader, #main-state,
#hover-info, #controls, img {
    pointer-events: none;
}
.side-controls, #seek-bar {
    pointer-events: auto;
}

/* -------------------------
 *   Main structure
 * ------------------------- */

#video-container {
    width: 90vw;
    height: 90vh;
    height: 90dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#touch-box {
    position: absolute;
    width: 100%;
    height: 100%;
}
#controls {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    padding: 0 12px;
}

/* -------------------------
 *   Controls bar
 * ------------------------- */

.time-container {
    gap: 4px;
    left: 50%;
    display: flex;
    font-size: 12px;
    position: absolute;
    padding: 2px 4px;
    padding-right: 4.7px;
    border-radius: 6px;
    transform: translateX(-50%);
    box-shadow: none !important
}
.btn-controls {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-controls {
    display: flex;
    align-items: center;
}

/* -------------------------
 *   Buttons + svg
 * ------------------------- */

button {
    all: unset;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    cursor: pointer;
    flex-shrink: 0;
}
button img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

/* -------------------------
 *   Main state (show status)
 * ------------------------- */

#main-state {
    opacity: 0;
    transform: scale(0);
    height: 64px;
    width: 64px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
#main-state.show {
    opacity: 0.8;
    transform: scale(1);
}
#main-state img {
    width: 75%;
    height: 75%;
}

/* -------------------------
 *   Main time bar
 * ------------------------- */

#seek-bar {
    left: 0;
    right: 0;
    bottom: 20px;
    height: 8px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    width: calc(100% - 64px)
}
#seek-bar::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
}
/* This weird shit is only to let the */
/* user select easily the start and end */
#seek-bar::after {
    content: "";
    top: 50%;
    left: 50%;
    height: 200%;
    position: absolute;
    width: calc(100% + 32px);
    transform: translate(-50%, -50%);
}

/* -------------------------
 *   Time bar current time
 * ------------------------- */

#progress {
    width: 0;
    height: 100%;
    display: flex;
    position: absolute;
    background: #ff4a10c0;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
}
#progress::before {
    opacity: 0;
    content: "";
    width: 12px;
    height: 12px;
    right: -6px;
    position: absolute;
    background: #ff6a00e0;
    border-radius: 50%;
    transition: all 0.2s;
    transform: scale(0);
    box-shadow: 0 0 3px black;
}
#seek-bar:hover
#progress::before {
    opacity: 1;
    transform: scale(1);
}

/* -------------------------
 *   Hover time & Show info
 * ------------------------- */

#hover-time {
    width: 0;
    position: absolute;
    display: flex;
    height: 100%;
    background: #fff4;
    align-items: center;
    border-radius: 5px;
}
#hover-info {
    position: absolute;
    width: max-content;
    max-width: min(150px, 40vw) !important;
    padding: 0.3rem;
    border-radius: 8px;
    font-size: 0.8rem;
    visibility: hidden;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

/* -------------------------
 *   Time bar chapters
 * ------------------------- */

#chapter-container {
    position: relative;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}
.chapter {
    position: absolute;
    height: 100%;
    width: 3px;
    margin-left: -1px;
    background-color: black;
    box-shadow: 0 0 1px white;
    z-index: 1;
}

/* -------------------------
 *   Sound control
 * ------------------------- */

#volume {
    display: flex;
    align-items: center;
}
.mute-unmute {
    display: flex;
    cursor: pointer;
}
#volume-bar {
    height: 4px;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    visibility: hidden;
    width: 0 !important;
    background: #eee;
    transition: all 0.1s;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 3px black;
}
#volume-bar::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 3px black;
}
#volume-bar::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007aff;
    box-shadow: 0 0 3px black;
}
#volume-bar.show {
    width: 48px !important;
    visibility: visible;
    transform: scaleX(1);
}

/* -------------------------
 *   Option list
 * ------------------------- */

#setting-menu {
    position: absolute;
    opacity: 0;
    padding: 0;
    margin: 0;
    right: -20%;
    top: 40px;
    max-height: 50vh;
    max-height: 50dvh;
    overflow: auto;
    visibility: hidden;
    list-style: none;
    transition: transform 0.2s;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 12px;
}
#setting-menu.show {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}
#setting-menu li {
    margin: 5px;
    padding: 0 4px;
    line-height: 1.5;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}

#subsMenu:focus-within,
#audioMenu:focus-within,
#speedMenu:focus-within {
    outline: auto;
}
#subsMenu::before {
    content: "Subs";
    position: absolute;
}
#audioMenu::before {
    content: "Tracks";
    position: absolute;
}
#speedMenu::before {
    content: "Speed";
    position: absolute;
}

/* -------------------------
 *   Override select styles
 * ------------------------- */

select {
    opacity: 0;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}
select option {
    background: #222;
    color: white;
}

/* -------------------------
 *   Loading animation
 * ------------------------- */

#custom-loader {
    width: 96px;
    height: 96px;
    border: 10px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    transition: all 0.5s;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------------
 *   Transparent style
 * ------------------------- */

#seek-bar::before,
.time-container,
#setting-menu,
#hover-info,
#main-state,
button {
    -webkit-backdrop-filter: saturate(200%) invert(10%) brightness(75%) blur(3px);
    backdrop-filter: saturate(200%) invert(10%) brightness(75%) blur(3px);
    background: transparent;
    box-shadow: 0 0 2px #FFFA;
}

/* -------------------------
 *   Show/hide button controls
 * ------------------------- */

/* Just to animate with Opacity but
 *WITHOUT BREAKING the backdrop-filter */

#seek-bar::before, #seek-bar *,
.time-container, button {
    opacity: 0;
    transition: opacity 0.3s;
}
#controls.show #seek-bar::before,
#controls.show .time-container,
#controls.show #seek-bar *,
#controls.show button {
    opacity: 1;
}
#chapter-container,
#hover-time, #progress {
    transition: none !important;
}

/* -------------------------
 *   Other
 * ------------------------- */

#state_volume { font-size: 1.3rem; }
.lmbsl { background: #8f9f3030 !important; }
#video-container { position: relative; }
.video-box, canvas { position: absolute; }
.settings { position: relative; }


/* -------------------------
 *   Responsive
 * ------------------------- */

@media (max-width: 600px) {
    #seek-bar {
        bottom: 10px;
    }
    .time-container {
        bottom: 23px;
    }
}
@media (max-width: 500px) {
    #play-pause,
    #volume {
        display: none;
    }
    .btn-controls {
        justify-content: center;
    }
}
@media (max-width: 320px) {
    #seek-bar {
        width: 90%;
    }
}
@media (max-width: 250px) {
    #mode {
        display: none;
    }
}
@media (max-width: 200px) {
    #setting-menu,
    #settings {
        display: none;
    }
}

/* -------------------------
 *   Responsive (hide)
 * ------------------------- */

@media (max-height: 200px) or (max-width: 150px) {
    .btn-controls {
        display: none;
    }
}
@media (max-height: 120px) or (max-width: 120px) {
    #video-container {
        display: none;
    }
}

/* -------------------------
 *   Disable hover when touch
 * ------------------------- */

@media (hover: hover) {
    #setting-menu li:hover, button:hover {
        outline: 2px solid #fffa !important;
    }
}

 
