<!-- Code by Sergio00166 --> <!DOCTYPE html><html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Error 500</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('index', static='ico/alert.ico') }}">
<style>body {font-family: Arial, sans-serif;background-color: #f4f4f4;color: #333;
text-align: center;margin-top: 80px;user-select: none;}h1 {color: #e44d26;}</style>
</head><body><h1>500 SERVER ERROR</h1><br><p>Sorry, something went wrong on the server.</p>
<a href="..">Previous Page</a></body></html>
