<!DOCTYPE html><html><head>
    <meta charset="UTF-8"><title>{{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('index', static="ico/audio.ico") }}">
    <style>
		body { 
			display: flex; 
			justify-content: center;
			align-items: center;
			height: 90vh;
			background-color: #000; 
			flex-direction: column; 
		}
		.flex { 
			display: flex;
			justify-content: center; 
		}
		h2 { 
			text-align: center;
			color: #FFFFFF; 
		}
    </style></head><body>
		<h2>{{ name }}</h2><br>
		<div id="audio-container">
			<audio controls autoplay id="audio" data-mode="0" onended="handleAudioEnded()" onvolumechange="saveVolume()">
				<source src="{{ url_for('index', raw=path) }}" type="audio/mp3">
		</audio></div>
		<div class="flex">
			<button onclick="prev()">Prev</button> &nbsp;&nbsp;&nbsp;
			<button id="mode" onclick="chMode()">1</button>
			&nbsp;&nbsp;&nbsp;<button onclick="next()">Next</button>
		</div><br><br><br> 
		<script defer src="{{ url_for('index', static='js/audio.js') }}">
		</script><script>
			const next = '{{ nxt }}';
			const prev = '{{ prev }}';
	</script></body>
</html>

