<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('index', static='ico/audio.ico') }}">
    <link rel="stylesheet" href="{{ url_for('index', static='css/audio.css') }}" />
</head>

<body>
    <a href="{{ request.path }}?raw" download="{{ name }}" id="download"></a>
    <a href='{{ nxt }}' id="next"></a>
    <a href='{{ prev }}' id="prev"></a>
    <a href='{{ rnd }}' id="random"></a>

    <div class="audio-container">
        <h2>{{ name }}</h2> <br>
        <audio onended="handleAudioEnded()">
            <source src="{{ request.path }}?raw">
        </audio>
        <div class="duration">
            <div class="current-time"></div>
            <div class="hover-time">
                <span class="hover-duration"></span>
            </div>
            <div class="buffer"></div>
        </div>
        <span class="time-container">
            <span class="current-duration">00:00</span>
            <span>/</span>
            <span class="total-duration">00:00</span>
            <span>&nbsp;</span>
        </span>
        <div class="flex">
            <button class="round-button play" onclick="toggleMainState()" title="Play/Pause">
                <img class="sh_play" src="{{ url_for('index', static='svg/videoplayer/play-outline.svg') }}">
                <img class="sh_pause" src="{{ url_for('index', static='svg/videoplayer/pause-outline.svg') }}">
            </button>
            <span class="volume muteUnmute">
                <button class="round-button" onclick="toggleMuteUnmute()" title="Volume">
                    <img class="sh_mute" src="{{ url_for('index', static='svg/videoplayer/volume-mute-outline.svg') }}">
                    <img class="sh_fulla" src="{{ url_for('index', static='svg/videoplayer/volume-high-outline.svg') }}">
                    <img class="sh_meda" src="{{ url_for('index', static='svg/videoplayer/volume-medium-outline.svg') }}">
                    <img class="sh_lowa" src="{{ url_for('index', static='svg/videoplayer/volume-low-outline.svg') }}">
                    <img class="sh_noa" src="{{ url_for('index', static='svg/videoplayer/volume-off-outline.svg') }}">
                </button>
                <div class="max-vol">
                    <div class="current-vol"></div>
                </div>
            </span>
            <button class="round-button" onclick="prev()" title="Previous">
                 <img src="{{ url_for('index', static='svg/videoplayer/play-skip-back-outline.svg') }}"></button>
            <button class="round-button" onclick="next()" title="Next">
                 <img src="{{ url_for('index', static='svg/videoplayer/play-skip-forward-outline.svg') }}"></button>
            <button class="round-button" id="mode" title="Loop">1</button>
            <button class="round-button download" onclick="download()" title="Download">
                <img src="{{ url_for('index', static='svg/videoplayer/download-outline.svg') }}"></button>
            <span class="settings">
                <button class="round-button" onclick="handleSettingMenu()" title="Speed">
                    <img src="{{ url_for('index', static='svg/videoplayer/speed-outline.svg') }}">
                </button>
                <ul class="setting-menu">
                    <li data-value="0.25">0.25x</li>
                    <li data-value="0.5">0.5x</li>
                    <li data-value="0.75">0.75x</li>
                    <li data-value="1" class="speed-active">1x</li>
                    <li data-value="1.25">1.25x</li>
                    <li data-value="1.5">1.5x</li>
                    <li data-value="1.75">1.75x</li>
                    <li data-value="2">2x</li>
                </ul>
            </span>
        </div>
        <br><br>
    </div>

    <script src="{{ url_for('index', static='js/audio.js') }}"></script>

</body>
</html>
