<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <title>Mgm Console</title>
    <link rel="stylesheet" href="/srv/static/css/console.css">
    <script defer src="/srv/static/js/console.js"></script>
  </head>
  <body>
    <div id="terminal"></div>
    <div id="input-line">
      <span>$&nbsp;</span>
      <input id="cmd" autocomplete="off" autofocus />
    </div>
  </body>
</html>

 