<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADD-UPLOAD</title>
    <link rel="stylesheet" href="{{ url_for('index', static='css/forms.css') }}">
    <script>
        function ResetUploadMsg() {
            document.getElementById('fileLabel').textContent = "File(s)";
            document.getElementById('dirLabel').textContent  = "Dir(s)";
        }
        function handleOptionChange(dnrem=false) {
            ResetUploadMsg();
            if (dnrem===false) {
                const h1 = document.querySelector('h1')
                if (h1) { h1.remove(); }
            }
            const selection = document.getElementById("actionSelect").value;
            document.getElementById("backButton").style.display = selection === "" ? "block" : "none";
            document.getElementById("createDirForm").style.display = selection === "mkdir" ? "block" : "none";
            document.getElementById("uploadFileForm").style.display = selection === "upFile" ? "block" : "none";
            document.getElementById("uploadDirForm").style.display = selection === "upDir" ? "block" : "none";
        }
        function goBack() {
            window.location.href = window.location.origin+window.location.pathname;
        }
        document.addEventListener("DOMContentLoaded", () => {
            ResetUploadMsg();
            const selectedAction = "{{ action|default('') }}";
            const selectElement = document.getElementById("actionSelect");
            selectElement.value = selectedAction;
            setTimeout(()=>{ handleOptionChange(true); },25);

            document.getElementById('fileInput').addEventListener('change', function() {
                document.getElementById('fileLabel').textContent = "...";
            });
            document.getElementById('dirInput').addEventListener('change', function() {
                document.getElementById('dirLabel').textContent = "...";
            });
        });
    </script>

</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    {% if error %}
                        <h1 class="title has-text-danger">{{ error }}</h1>
                    {% endif %}
                    <div class="box">
                        <div class="field">
                            <div class="control">
                                <div class="select is-large" style="width: 100%;">
                                    <select id="actionSelect" style="width: 100%;" onchange="handleOptionChange()">
                                        <option value="" selected>Select an option</option>
                                        <option value="mkdir">Create Dir</option>
                                        <option value="upFile">Upload File(s)</option>
                                        <option value="upDir">Upload Dir(s)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div id="backButton" style="display: none;">
                            <button class="button is-block is-danger is-large is-fullwidth" onclick="goBack()">Cancel</button>
                        </div>

                        <form id="createDirForm" method="POST" action="?add" style="display: none;">
                            <input type="hidden" name="action" value="mkdir">
                            <div class="field">
                                <div class="control">
                                    <input
                                        class="input is-large"
                                        type="text"
                                        name="foldername"
                                        placeholder="Enter folder name"
                                        value="{{ filename|default('') }}">
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Create Folder</button>
                        </form>

                        <form id="uploadFileForm" method="POST" action="?add" enctype="multipart/form-data" style="display: none;">
                            <input type="hidden" name="action" value="upFile">
                            <div class="field">
                                <div class="file is-large">
                                    <label class="file-label" style="width: 100%;">
                                        <input class="file-input" type="file" name="files" id="fileInput" multiple>
                                        <span class="file-cta" style="width: 100%;">
                                            <span class="file-label" id="fileLabel"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Upload Files(s)</button>
                        </form>

                        <form id="uploadDirForm" method="POST" action="?add" enctype="multipart/form-data" style="display: none;">
                            <input type="hidden" name="action" value="upDir">
                            <div class="field">
                                <div class="file is-large">
                                    <label class="file-label" style="width: 100%;">
                                        <input class="file-input" type="file" name="files" id="dirInput" multiple webkitdirectory>
                                        <span class="file-cta" style="width: 100%;">
                                            <span class="file-label" id="dirLabel"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Upload Dir(s)</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
</body>

</html>
