<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <title>webFILE server</title>
    <link rel="icon" type="image/x-icon" href="/srv/static/ico/favicon.ico">
    <link rel="stylesheet" href="/srv/static/css/index.css">
    <link rel="stylesheet" href="/srv/static/css/path-bar.css">
    <script defer src="/srv/static/js/index/main.js"></script>
    <script defer src="/srv/static/js/index/render.js"></script>
    <script defer src="/srv/static/js/index/actions.js"></script>
  </head>
  <body>
    <div id="path-bar">
      <button onclick="goBack()" title="Parent">
        <img src="/srv/static/svg/index/arrow-left-solid.svg">
      </button>
      <button onclick="goBack(true)" title="Home (H)">
        <img src="/srv/static/svg/index/house-chimney-solid.svg">
      </button>
      <span class="path-box">
        <pre id="path-text">/</pre>
      </span>
    </div>

    <div id="loader" style="display: none">
      <h1>PROCESSING</h1>
      <div class="progress-bar"></div>
      <h1 id="progress"></h1>
    </div>

    <div id="main-container">
      <div id="sidebar">
        <div class="sidebar-toggle" onclick="toggleSidebar()" title="Toggle Sidebar">
          <img src="/srv/static/svg/index/three-dots-vertical.svg">
        </div>
        <div class="sidebar-content">
          <div>
            <h3>ACCOUNT</h3>
            {%- set username = session['user'] if 'user' in session else 'Not logged in' -%}
            <button onclick="alert('{{ username }}')" title="Show username">👤 User</button>
          {% if 'user' in session %}
            <button id="login" onclick="logout()" title="(L)">🚪 Logout</button>
          {% else %}
            <button id="login" onclick="login()" title="(L)">🔑 Login</button>
          {% endif %}
          </div>
          <div>
            <h3>SORT</h3>
            <button id="sortName" onclick="setSortingMode('name')" title="(1)">⬆️ Name</button>
            <button id="sortSize" onclick="setSortingMode('size')" title="(2)">◻️ Size</button>
            <button id="sortDate" onclick="setSortingMode('date')" title="(3)">◻️ Date</button>
          </div>
          <div>
            <h3>SELECTION</h3>
            <button id="selectBtn" onclick="toggleSelectMode()" title="(S)">✅ Enable</button>
            <button id="invertBtn" onclick="invertSelection()" title="(A)" disabled>🔄 Invert</button>
            <button onclick="executeDownloads()" title="(D)">📥 Download</button>
          </div>
          <div>
            <h3>UPLOAD</h3>
            <button onclick="openFileUploadMenu()" title="(U)">📤 Files</button>
            <button onclick="openFileUploadMenu(true)" title="(⇧U)">📤 Folder</button>
          </div>
          <div>
            <h3>ACTIONS</h3>
            <button onclick="createDirectory()" title="(M)">📁 New Dir</button>
            <button id="renBtn" onclick="renameSelectedFiles()" title="(R)" disabled>✏️ Rename</button>
            <button id="delBtn" onclick="executeDeletes()" title="(Del)" disabled>🗑️ Delete</button>
          </div>
          <div>
            <h3>MANAGE</h3>
            <button id="copyBtn" onclick="copySelectedFiles()" title="(C)" disabled>📋 Copy</button>
            <button id="moveBtn" onclick="moveSelectedFiles()" title="(X)" disabled>✂️ Cut</button>
            <button onclick="pasteFiles()" title="(V)">📋 Paste</button>
          </div>
        </div>
      </div>
      <div id="list-group">
      </div>
    </div>
  </body>
</html>

 