<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webFILE server</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('index', static='ico/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('index', static='css/index.css') }}">
    <script defer src="{{ url_for('index', static='js/index.js') }}"></script>
</head>
<body>
    <div id="loader" style="display: none;">
        <div class="load_container">
            <h1>Processing</h1>
            <div class="progress-bar"></div>
            <h3>Please wait...</h3>
          </div>
    </div>
    <div class="list-group">
        <h2><pre>Index of&nbsp;{{ folder_path }}</pre></h2>
        <div class="controls">
            <div class="ctrl_group">
                <div class="ctrl_flex">
                    <button onclick="changeURL({% if sort=='np' %}'nd'{% else %}'np'{% endif %})">
                        NAME{% if sort=="np" %}&nbsp;&uarr;{% elif sort=="nd" %}&nbsp;&darr;{% endif %}
                    </button>
                    <button onclick="changeURL({% if sort=='sp' %}'sd'{% else %}'sp'{% endif %})">
                        SIZE{% if sort=="sp" %}&nbsp;&uarr;{% elif sort=="sd" %}&nbsp;&darr;{% endif %}
                    </button>
                    <button onclick="changeURL({% if sort=='dp' %}'dd'{% else %}'dp'{% endif %})">
                        DATE{% if sort=="dp" %}&nbsp;&uarr;{% elif sort=="dd" %}&nbsp;&darr;{% endif %}
                    </button>
                </div>
                <div class="ctrl_flex">
                    <button id="selectBtn" onclick="toggleSelectMode()">SELECT</button>
                    <button id="invertBtn" onclick="invertSelection()" disabled>*</button>
                    <button onclick="executeDownloads()">DWNLD</button>
                    {% if 'user' in session %}
                        <button onclick='window.location.href="?logout"'>LOGOUT</button>
                    {% else %}
                        <button onclick='window.location.href="?login"'>LOGIN</button>
                    {% endif %} 
                </div>
            </div>
            <div class="ctrl_group">
                <div class="ctrl_flex">
                    <button onclick='mkdir()'>MKDIR</button>
                    <button onclick='openFileMenu()'>UPFILE</button>
                    <button onclick='openFileMenu(true)'>UPDIR</button>
                    <button onclick="pasteFiles()">PASTE</button>
                </div>
                <div class="ctrl_flex">
                    <button id="copyBtn" onclick="copyFiles()" disabled>COPY</button>
                    <button id="moveBtn" onclick="moveFiles()" disabled>MOVE</button>
                    <button id="renBtn" onclick="renameFiles()" disabled>REN</button>
                    <button id="delBtn" onclick="executeDeletes()" disabled>DEL</button>
                </div>
            </div>
        </div>
        <div class="container">
            {% if not is_root %}
                <a class="backdir" href="{{ url_for('explorer', path=parent_directory) }}">
                    <img src="{{ url_for('index', static='svg/index/reply-solid.svg') }}" class="goback"></img>
                    <span class="name">Parent Directory</span>
                </a>
            {% endif %}
            {% for item in folder_content %}
                <div id="{{ loop.index0 }}" class="filename" data-value="{{ url_for('explorer', path=item['path']) }}"{% if item['type'] in ['directory','disk'] %} isdir="" {% endif %} tabindex="0">
                {% if item['type'] == 'disk' %}
                    <img src="{{ url_for('index', static='svg/index/hard-drive-solid.svg') }}" class="disk"></img>
                {% elif item['type'] == 'directory' %}
                    <img src="{{ url_for('index', static='svg/index/folder-solid.svg') }}" class="folder"></img>
                {% elif item['type'] == 'source' %}
                    <img src="{{ url_for('index', static='svg/index/file-code-solid.svg') }}" class="src"></img>
                {% elif item['type'] == 'video' %}
                    <img src="{{ url_for('index', static='svg/index/film-solid.svg') }}" class="default"></img>
                {% elif item['type'] == 'audio' %}
                    <img src="{{ url_for('index', static='svg/index/music-solid.svg') }}" class="default"></img>
                {% elif item['type'] == 'text' %}
                    <img src="{{ url_for('index', static='svg/index/file-lines-solid.svg') }}" class="files"></img>
                {% elif item['type'] == 'pdf' %}
                    <img src="{{ url_for('index', static='svg/index/file-pdf-solid.svg') }}" class="pdf"></img>
                {% elif item['type'] == 'photo' %}
                    <img src="{{ url_for('index', static='svg/index/image-solid.svg') }}" class="default"></img>
                {% elif item['type'] == 'document' %}
                    <img src="{{ url_for('index', static='svg/index/file-word-solid.svg') }}" class="doc"></img>
                {% elif item['type'] == 'database' %}
                    <img src="{{ url_for('index', static='svg/index/database-solid.svg') }}" class="default"></img>
                {% elif item['type'] == 'presentation' %}
                    <img src="{{ url_for('index', static='svg/index/file-powerpoint-solid.svg') }}" class="pp"></img>
                {% elif item['type'] == 'virtualdisk' %}
                    <img src="{{ url_for('index', static='svg/index/compact-disc-solid.svg') }}" class="iso"></img>
                {% elif item['type'] == 'compressed' %}
                    <img src="{{ url_for('index', static='svg/index/file-zipper-solid.svg') }}" class="zip"></img>
                {% elif item['type'] == 'binary' %}
                    <img src="{{ url_for('index', static='svg/index/file-binary.svg') }}"></img>
                {% elif item['type'] == 'webpage' %}
                    <img src="{{ url_for('index', static='svg/index/globe-solid.svg') }}" class="iso"></img>
                {% else %}
                    <img src="{{ url_for('index', static='svg/index/file-solid.svg') }}" class="files"></img>
                {% endif %}
                    <span class="name">
                        <pre>{{ item['name'] }}
                        {% if item['type'] == 'directory' %}
                            <t class="small">/</t>
                        {% elif item['type'] == 'disk' %}
                            <t class="small">//</t>
                        {% endif %}
                        </pre>
                    </span>
                    <span>
                        <t class="size">{{ item['size'] }}</t>
                        {% if item['type'] == 'disk' %}
                            <t class="capacity">&nbsp;/&nbsp;{{item['capacity']}}</t>
                            <t class="time">({{item["used"]}}%)</t>
                        {% else %}
                            <t class="date">{{ item['mtime'][0] }}</t>
                            <t class="time">{{ item['mtime'][1] }}</t>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
