<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webFILE server</title>
</head>

<body>
    <table>
        <tr>
            <td><a href="{{ request.path }}?mode={% if sort=='np' %}nd{% else %}np{% endif %}">
                NAME{% if sort=="np" %}&uarr;{% elif sort=="nd" %}&darr;{% endif %}
            </a></td>
            <td>&nbsp;&nbsp;</td>
            <td><a href="{{ request.path }}?mode={% if sort=='sp' %}sd{% else %}sp{% endif %}">
                SIZE{% if sort=="sp" %}&uarr;{% elif sort=="sd" %}&darr;{% endif %}
            </a></td>
            <td></td>
            <td><a href="{{ request.path }}?mode={% if sort=='dp' %}dd{% else %}dp{% endif %}">
                MTIME{% if sort=="dp" %}&uarr;{% elif sort=="dd" %}&darr;{% endif %}
            </a>
            &nbsp;&nbsp;&nbsp; <a href="{{ request.path }}?mode=dir">DLthisDIR</a></td>
        </tr>
        {% if not is_root %}
            <tr><td><a href="{{ url_for('explorer', path=parent_directory) }}">&larr; Parent Directory</a></td></tr>
        {% endif %}{% for item in folder_content %}
            <tr>
                <td><a href="{{ url_for('explorer', path=item['path']) }}">{{ item['name'] }}{% if item['description']=='directory' %}/{% endif %}</a></td>
                <td>&nbsp;&nbsp;</td>
                <td align="right">{{ item['size'] }}</td>
                <td></td>
                <td align="right">{{ item['mtime'] }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
