<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sergio's Server</title>
</head>

<body>
    <table>
        <tr><td colspan="6">
            <h4>Index of&nbsp;{{ folder_path }}</h4>
        </td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a href="{{ request.path }}?sort={% if sort=='np' %}nd{% else %}np{% endif %}">
                NAME {% if sort=="np" %} ^ {% elif sort=="nd" %} v {% endif %}
            </a></td>
            <td>&nbsp;&nbsp;</td>
            <td><a href="{{ request.path }}?sort={% if sort=='sp' %}sd{% else %}sp{% endif %}">
                SIZE {% if sort=="sp" %} ^ {% elif sort=="sd" %} v {% endif %}
            </a></td>
            <td></td>
            <td><a href="{{ request.path }}?sort={% if sort=='dp' %}dd{% else %}dp{% endif %}">
                DATE{% if sort=="dp" %} ^ {% elif sort=="dd" %} v {% endif %}
            </a></td>
            <td align="right"><a href="{{ request.path }}?tar">DL·DIR</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        {% if not is_root %}
            <tr><td><a href="{{ url_for('explorer', path=parent_directory) }}">&larr; Parent Directory</a></td></tr>
        {% endif %}{% for item in folder_content %}
            <tr>
                <td><a href="{{ url_for('explorer', path=item['path']) }}">
                    {{ item['name'] }}{% if item['description']=='directory' %}/{% endif %}
                </a></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td align="right">{{ item['size'] }}</td>
                <td></td>
                <td align="right" colspan="2">{{ item['mtime'] }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
