<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, interactive-widget=resizes-content">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script>
      function removeKey() {
          const url = new URL(window.location.href);
          url.searchParams.delete('login');
          window.location.href = url.toString().replace(/=&/g, "&").replace(/=$/, "");
      }
    </script>
  </head>
  <body>
    <div class="container">
      {% if error %}<h2 id="error">{{ error }}</h2>{% endif %}
      <form method="POST" autocomplete="on">
        <input required class="username" type="text" name="username" placeholder="User" autofocus autocomplete="username">
        <input required class="password" type="password" name="password" placeholder="Password" autocomplete="current-password">
        <button class="button-upload">Login</button>
      </form>
      <button onclick="removeKey()" class="button-danger">Cancel</button>
    </div>
  </body>
</html>

