<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <title>{{ name }}</title>
    <link rel="icon" type="image/x-icon" href="/srv/static/ico/markdown.ico">
    <link rel="stylesheet" href="/srv/static/css/markdown.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <script defer src="/srv/static/js/markdown.js"></script>
  <head>
  <body>
    <div id="container"></div>
  </body>
</html>

 