<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>UPLOAD</title>
      <link rel="stylesheet" href="{{ url_for('index', static='css/upload.css') }}">
	  <script defer src="{{ url_for('index', static='js/upload.js') }}"></script>
    </head>
    <body>
      <div class="container">
        {% if error %}<h2 id="error">{{ error }}</h2>{% endif %}
        <div id="loader" style="display: none">
          <img src="{{ url_for('index', static='svg/load.gif') }}" alt="Loading">
          <p>Uploading. Please wait...</p>
        </div>

        <form id="uploadForm" method="POST" action="{{ '?updir' if upDir else '?upfile' }}" enctype="multipart/form-data" onsubmit="showLoader()">
		{% if upDir %}
		  <input onchange="updateLabel(this,'fileLabel')" type="file" id="fileInput" name="upload" webkitdirectory>
		  <button type="button" onclick="document.getElementById('fileInput').click()" id="fileLabel" class="button-select">Select Folder</button>
		{% else %}
          <input onchange="updateLabel(this,'fileLabel')" type="file" id="fileInput" name="upload" multiple>
          <button type="button" onclick="document.getElementById('fileInput').click()" id="fileLabel" class="button-select">Select Files</button>
		{% endif %}
		  <button type="submit" id="uploadButton" class="button-upload">Upload</button>
		</form>
        <button onclick="window.location.href = window.location.origin+window.location.pathname;" class="button-danger">Cancel</button>
      </div>

      {% if upDir %}<div class="drop-zone" ondragover="event.preventDefault();" ondrop="handleDrop(event, 'fileInput', 'fileLabel')"></div>{% endif %}

    </body>
</html>
