<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>UPLOAD</title>
      <link rel="stylesheet" href="{{ url_for('index', static='css/upload.css') }}">
    </head>
    <body>
      <div class="container">
        {% if error %}<h2 id="error">{{ error }}</h2>{% endif %}
        <div id="loader" style="display: none">
          <img src="{{ url_for('index', static='svg/load.gif') }}" alt="Loading">
          <p>Uploading. Please wait...</p>
        </div>
        <form id="uploadForm" method="POST" action="{{ '?updir' if upDir else '?upfile' }}" enctype="multipart/form-data" onsubmit="showLoader()">
        {% if upDir %}
          <input onchange="updateLabel(this,'fileLabel')" type="file" id="fileInput" name="upload" webkitdirectory>
          <button type="button" onclick="document.getElementById('fileInput').click()" id="fileLabel" class="button-select">Select Folder</button>
        {% else %}
          <input onchange="updateLabel(this,'fileLabel')" type="file" id="fileInput" name="upload" multiple>
          <button type="button" onclick="document.getElementById('fileInput').click()" id="fileLabel" class="button-select">Select Files</button>
        {% endif %}
          <button type="submit" id="uploadButton" class="button-upload">Upload</button>
        </form>
        <button onclick="window.location.href = window.location.origin+window.location.pathname;" class="button-danger">Cancel</button>
      </div>
      <script defer>
        function updateLabel(input, labelId) {
            const label = document.getElementById(labelId);
            label.textContent = input.files.length > 0 ? `${input.files.length} file(s) selected` : "Select Files";
            const errorMessage = document.getElementById("error");
            if (input.files.length>0 && errorMessage){ errorMessage.style.display = "none"; }
        }
        function showLoader() {
            document.getElementById("uploadForm").style.display = "none";
            document.getElementById("loader").style.display = "block";
            const error = document.getElementById("error");
            if (error) { error.style.display = "none"; }
        }
        function handleDrop(event, inputId, labelId) {
            event.preventDefault();
            const input = document.getElementById(inputId);
            input.files = event.dataTransfer.files;
            updateLabel(input, labelId);
        }
        {% if not upDir %}
            document.body.ondragover = function(event) { event.preventDefault(); };
            document.body.ondrop = function(event) { handleDrop(event, 'fileInput', 'fileLabel'); };
        {% endif %}
      </script>
    </body>
</html>
