<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8"><title>{{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('index', static='ico/video.ico') }}">
    <link rel="stylesheet" href="{{ url_for('index', static='css/video.css') }}" />
  </head>
  <body>
    <div class="video-container">
      <video
        id="video"
        onended="handleVideoEnded()"
        disableRemotePlayback
        src="{{ url_for('index', raw=path) }}"
      ></video>
	  	  <span class="custom-loader"><img class="loader" src="{{ url_for('index', static='svg/load.gif') }}"></img></span>
        <span class="main-state state-btn">
            <img class="fullimg sh_play_st"; src="{{ url_for('index', static='svg/videoplayer/play-outline.svg') }}";></img>
            <img class="fullimg sh_mute_st" src="{{ url_for('index', static='svg/videoplayer/volume-mute-outline.svg') }}"></img>
            <img class="fullimg sh_unmute_st" src="{{ url_for('index', static='svg/videoplayer/volume-high-outline.svg') }}"></img>
        </span>
      <div class="controls">
        <div class="duration">
          <div class="current-time"></div>
          <div class="hover-time">
            <span class="hover-duration"></span>
          </div>
          <div class="buffer"></div>
        </div>
        <div class="btn-controls">
		<div class="side-controls">
            <span class="play-pause control-btn">
                <img class="sh_play" src="{{ url_for('index', static='svg/videoplayer/play-outline.svg') }}"></img>
                <img class="sh_pause" src="{{ url_for('index', static='svg/videoplayer/pause-outline.svg') }}"></img>
            </span> <t class="mobile">&nbsp;</t>
            <span class="volume">
              <span class="mute-unmute control-btn">
                 <img class="sh_mute" src="{{ url_for('index', static='svg/videoplayer/volume-mute-outline.svg') }}"></img>
                 <img class="sh_unmute" src="{{ url_for('index', static='svg/videoplayer/volume-high-outline.svg') }}"></img>
              </span>
              <div class="max-vol"> 
                <div class="current-vol"></div>
              </div>
            </span>
            <span class="time-container">
              <span class="current-duration">0:00</span>
              <span>/</span>
              <span class="total-duration">0:00</span>
            </span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</div>
          <div class="side-controls">
            <span class="backward control-btn">
               <img src="{{ url_for('index', static='svg/videoplayer/play-skip-back-outline.svg') }}";></img>
            </span>
            <span class="forward control-btn">
               <img src="{{ url_for('index', static='svg/videoplayer/play-skip-forward-outline.svg') }}";></img>
            </span>
            <span class="mode-btn control-btn" id="mdbttn">1</span>
            <span class="download-btn control-btn">
                <img src="{{ url_for('index', static='svg/videoplayer/download-outline.svg') }}";></img>
            </span>
            <span class="settings control-btn">
              <span class="setting-btn">
                 <img src="{{ url_for('index', static='svg/videoplayer/speed-outline.svg') }}";></img>
              </span>
              <ul class="setting-menu">
                <li data-value="0.25">0.25x</li>
                <li data-value="0.5">0.5x</li>
                <li data-value="0.75">0.75x</li>
                <li data-value="1" class="speed-active">1x</li>
                <li data-value="1.25">1.25x</li>
                <li data-value="1.5">1.5x</li>
                <li data-value="1.75">1.75x</li>
                <li data-value="2">2x</li>
              </ul>
            </span>
            <span class="fullscreen-btn control-btn">
                <img class="full" src="{{ url_for('index', static='svg/videoplayer/scan-outline.svg') }}";></img>
                <img class="contract" src="{{ url_for('index', static='svg/videoplayer/contract-outline.svg') }}";></img>
            </span>
          </div>
        </div>
      </div>
    </div>
<script defer src="{{ url_for('index', static='js/video.js') }}"></script><script>
const pause_ico = "{{ url_for('index', static='svg/videoplayer/pause-outline.svg') }}";
const play_ico = "{{ url_for('index', static='svg/videoplayer/play-outline.svg') }}";
const mute_ico = "{{ url_for('index', static='svg/videoplayer/volume-mute-outline.svg') }}";
const unmute_ico = "{{ url_for('index', static='svg/videoplayer/volume-high-outline.svg') }}";
const prev = '{{ prev }}'; const next = '{{ nxt }}';
const urlVideo = '{{ url_for('index', raw=path) }}';
const fileName = '{{ name }}';
</script></body></html>
