<!-- Code by Sergio00166 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('index', static='ico/video.ico') }}">
    <link rel="stylesheet" href="{{ url_for('index', static='css/video.css') }}">
  </head>
  <body>
    <a href="{{ request.path }}?raw" download="{{ name }}" id="download"></a>
    <a href='{{ nxt }}' id="next"></a>
    <a href='{{ prev }}' id="prev"></a>
    <div class="video-container">
	  <div class="video-box">
		  <video onended="handleVideoEnded()">
			<source src="{{ request.path }}?raw">
		  </video>
		  <canvas></canvas>
	  </div>
      <span class="custom-loader">
        <img class="loader" src="{{ url_for('index', static='svg/load.gif') }}">
      </span>
      <span class="main-state state-btn">
        <img class="fullimg sh_play_st" src="{{ url_for('index', static='svg/videoplayer/play-outline.svg') }}">
        <img class="fullimg sh_mute_st" src="{{ url_for('index', static='svg/videoplayer/volume-mute-outline.svg') }}">
        <img class="fullimg sh_unmute_st" src="{{ url_for('index', static='svg/videoplayer/volume-high-outline.svg') }}">
        <img class="fullimg sh_fordward_st" src="{{ url_for('index', static='svg/videoplayer/chevron-forward-outline.svg') }}">
        <img class="fullimg sh_back_st" src="{{ url_for('index', static='svg/videoplayer/chevron-back-outline.svg') }}">
      </span>
      <div class="controls">
        <div class="duration">
          <div class="current-time"></div>
          <div class="hover-time">
            <span class="hover-duration"></span>
          </div>
          <div class="chapter-container"></div>
          <div class="buffer"></div>
        </div>
        <div class="btn-controls">
          <div class="side-controls">
            <button class="round-button play-pause" onclick="toggleMainState()">
              <img class="sh_play" src="{{ url_for('index', static='svg/videoplayer/play-outline.svg') }}">
              <img class="sh_pause" src="{{ url_for('index', static='svg/videoplayer/pause-outline.svg') }}">
            </button>
            <span class="volume">
              <button class="round-button" onclick="toggleMuteUnmute()">
                <img class="sh_mute" src="{{ url_for('index', static='svg/videoplayer/volume-mute-outline.svg') }}">
                <img class="sh_fulla" src="{{ url_for('index', static='svg/videoplayer/volume-high-outline.svg') }}">
                <img class="sh_meda" src="{{ url_for('index', static='svg/videoplayer/volume-medium-outline.svg') }}">
                <img class="sh_lowa" src="{{ url_for('index', static='svg/videoplayer/volume-low-outline.svg') }}">
                <img class="sh_noa" src="{{ url_for('index', static='svg/videoplayer/volume-off-outline.svg') }}">
              </button>
              <div class="max-vol">
                <div class="current-vol"></div>
              </div>
            </span>
            <span class="time-container">
              <span class="current-duration">00:00</span>
              <span>/</span>
              <span class="total-duration">00:00</span>
            </span>
            <span>&nbsp;&nbsp;</span>
          </div>
          <div class="side-controls">
            <button class="round-button" onclick="prev()">
              <img src="{{ url_for('index', static='svg/videoplayer/play-skip-back-outline.svg') }}">
            </button>
            <button class="round-button" onclick="next()">
              <img src="{{ url_for('index', static='svg/videoplayer/play-skip-forward-outline.svg') }}">
            </button>
            <button class="round-button text" id="mode" onclick="chMode()">1</button>
            <span class="settings">
              <button class="round-button" id="settings">
                <img src="{{ url_for('index', static='svg/videoplayer/settings-outline.svg') }}">
              </button>
              <ul class="setting-menu">
                <li>
                  <select id="s0">
                    <option value="-1">None</option> {% for item in tracks %} <option value={{ tracks.index(item) }}>
                      {{ item }}
                    </option> {% endfor %}
                  </select>
                </li>
                <li>
                  <select id="s1"></select>
                </li>
                <li>
                  <select id="s2">
                    <option value="0.25">0.25x</option>
                    <option value="0.5">0.5x</option>
                    <option value="0.75">0.75x</option>
                    <option value="1">1x</option>
                    <option value="1.25">1.25x</option>
                    <option value="1.5">1.5x</option>
                    <option value="1.75">1.75x</option>
                    <option value="2">2x</option>
                  </select>
                </li>
                <li id="liD">Download</li>
              </ul>
            </span>
            <button class="round-button" onclick="toggleFullscreen()">
              <img class="full" src="{{ url_for('index', static='svg/videoplayer/scan-outline.svg') }}">
              <img class="contract" src="{{ url_for('index', static='svg/videoplayer/contract-outline.svg') }}">
            </button>
          </div>
        </div>
      </div>
    </div>
    <script defer src="{{ url_for('index', static='js/video.js') }}"></script>
    <script src="{{ url_for('index', static='jassub/jassub.js') }}"></script>
    <script>
      const chapters = {{ chapters | tojson}}
    </script>
  </body>
</html>
